@import "styles/vars.css";
@import "styles/mixins.css";

.b-form-compact {
    &__section {
        position: relative;
        padding: calc(var(--indentingStep) * 2) 0;

        &:first-child { padding-top: 0; }
        &:last-child { padding-bottom: 0; }

        &-header {
            position: relative;
            border-bottom: calc(var(--indentingStep) * 0.25) solid var(--colorWarmGreyTwo);
            margin-bottom: calc(var(--indentingStep) * 2);

            & h3 {
                color: var(--colorDarkSkyBlue);
                @mixin uppercase;
                font-size: var(--fontSizeNormal);
            }
        }

        &-content {
            margin: calc(var(--indentingStep) * -1) 0;
        }

        &-title {
            display: inline-block;
            vertical-align: middle;
        }

        &-note {
            position: absolute;
            bottom: 0;
            right: 0;
            font-weight: bold;
            font-size: var(--fontSizeSmall);
        }

        &.s-collapsed {
            & .b-form-compact__rowset {
                display: none;

                &.m-main { display: block; }
            }
        }
    }

    &__blockset {
        margin: 0 calc(var(--indentingStep) * -3);
        &:after { @mixin clear-fix; }
    }

    &__block {
        float: left;
        width: 50%;
        padding: 0 calc(var(--indentingStep) * 3);

        &.m-wide {
            width: 100%;
        }

        @media (max-width: 1199px) { & { width: 100%; } }
    }

    &__row {
        margin: 0 calc(var(--indentingStep) * -3);
        padding: calc(var(--indentingStep) * 1) 0;
        &:after { @mixin clear-fix; }
    }

    &__cell {
        float: left;
        width: 100%;
        min-height: calc(var(--indentingStep) * 8);
        padding: 0 calc(var(--indentingStep) * 3);
    }

    &__label {
        display: block;
        margin: 0;
        border: none;
        box-sizing: border-box;
        text-align: left;
        font-size: var(--fontSizeSmall);
        color: var(--colorGreyishBrown);
        padding-bottom: calc(var(--indentingStep) * 0.5);
        z-index: 1;
        @mixin textOverflow;
        pointer-events: none;
    }

    &__input {
        position: relative;
        outline: 0 none;
        display: block;
        margin: 0;
        box-sizing: border-box;
        height: calc(var(--indentingStep) * 8);
        width: 100%;
        background: var(--colorWhite);
        border: calc(var(--indentingStep) * 0.25) solid var(--colorPinkishGrey);
        font-family: inherit;
        font-size: inherit;
        line-height: calc(var(--indentingStep) * 5);
        text-align: inherit;
        color: var(--colorBlack);
        padding: calc(var(--indentingStep) * 1.5);
        border-radius: calc(var(--indentingStep) * 0.5);

        &.m-textarea {
            resize: vertical;
            height: calc(var(--indentingStep) * 22.5);

            &.m-height-2 {
                height: calc(var(--indentingStep) * 14.5);
            }

            &.m-height-3 {
                height: calc(var(--indentingStep) * 18.5);
            }
        }

        &.m-decimal-number,
        &.m-integer-number {
            text-align: right;
        }

        &.m-dropdown {
            cursor: pointer;
            @mixin textOverflow;

            &:hover,
            &:active {
                color: inherit;
            }
        }
    }

    &__checkbox {
        position: relative;
        display: inline-block;
        padding: calc(var(--indentingStep) * 1.5) 0;
        cursor: pointer;

        &-input {
            position: absolute;
            top: calc(var(--indentingStep) * 2);
            left: calc(var(--indentingStep) * 0.5);
            height: 0;
            width: 0;
            z-index: 1;
        }

        &-icon {
            position: absolute;
            display: block;
            box-sizing: border-box;
            top: calc(var(--indentingStep) * 1.5);
            left: 0;
            width: calc(var(--indentingStep) * 5);
            height: calc(var(--indentingStep) * 5);
            background: var(--colorWhite);
            padding: calc(var(--indentingStep) * 0.25);
            border: calc(var(--indentingStep) * 0.25) solid var(--colorPinkishGrey);
            border-radius: calc(var(--indentingStep) * 0.5);
            z-index: 2;
        }

        &-title {
            position: relative;
            display: inline-block;
            margin-left: calc(var(--indentingStep) * 6.5);
            line-height: calc(var(--indentingStep) * 4);
            padding: calc(var(--indentingStep) * 0.5) 0;
        }

        &.s-checked {
            & .b-form-compact__checkbox-icon {
                border-color: var(--colorGreyishBrown);
                background: var(--colorGreyishBrown);
            }
        }
    }

    &__radio {
        position: relative;
        display: inline-block;
        padding: calc(var(--indentingStep) * 1.5) 0;
        cursor: pointer;

        &-input {
            position: absolute;
            top: calc(var(--indentingStep) * 2);
            left: calc(var(--indentingStep) * 0.5);
            height: 0;
            width: 0;
            z-index: 1;
        }

        &-icon {
            position: absolute;
            display: block;
            box-sizing: border-box;
            top: calc(var(--indentingStep) * 1.5);
            left: 0;
            width: calc(var(--indentingStep) * 5);
            height: calc(var(--indentingStep) * 5);
            background: var(--colorWhite);
            padding: calc(var(--indentingStep) * 0.25);
            border: calc(var(--indentingStep) * 0.25) solid var(--colorPinkishGrey);
            border-radius: 50%;
            z-index: 2;
        }

        &-title {
            position: relative;
            display: inline-block;
            margin-left: calc(var(--indentingStep) * 6.5);
            line-height: calc(var(--indentingStep) * 4);
            padding: calc(var(--indentingStep) * 0.5) 0;
        }

        &.s-checked {
            & .b-form-compact__radio-icon {
                border-color: var(--colorGreyishBrown);
                background: var(--colorGreyishBrown);
            }
        }
    }

    &__button {
        position: relative;
        outline: 0 none;
        display: inline-block;
        margin: 0;
        padding: calc(var(--indentingStep) * 1.5) 0;
        box-sizing: border-box;
        height: calc(var(--indentingStep) * 8);
        width: 100%;
        line-height: calc(var(--indentingStep) * 4.5);
        text-align: center;
        background: var(--colorWhite) linear-gradient(to bottom, var(--colorWhite), var(--colorWhiteThree));
        border: calc(var(--indentingStep) * 0.25) solid var(--colorPinkishGrey);
        color: var(--colorBlack);
        border-radius: calc(var(--indentingStep) * 0.5);

        &:hover {
            color: var(--colorBlack);
            background: var(--colorWhiteTwo);
            @mixin hoverTransition background;
        }

        &.m-aligned {
            width: auto;
            padding-left: calc(var(--indentingStep) * 3);
            padding-right: calc(var(--indentingStep) * 3);
        }

        &.m-primary {
            color: var(--colorWhite);
            border-color: var(--colorGreyishBrown);
            background: var(--colorGreyishBrownTwo) linear-gradient(to bottom, var(--colorWarmGrey), var(--colorGreyishBrownTwo));

            &:hover {
                color: var(--colorWhite);
                background: var(--colorGreyishBrownTwo) linear-gradient(to bottom, var(--colorGreyishBrownTwo), var(--colorGreyishBrown));
                @mixin hoverTransition background;
            }

            &:active {
                background: var(--colorGreyishBrown);
            }

            & svg {
                fill: var(--colorWhite);
            }
        }

        &-title {
            font-size: var(--fontSizeSmall);
        }

        & .b-form-compact__button-icon + .b-form-compact__button-title {
            margin-left: calc(var(--indentingStep) * 2);
        }
    }

    &__files {
        position: relative;
    }

    &__file {
        position: relative;
        display: block;
        background: var(--colorWhiteTwo);
        border: calc(var(--indentingStep) * 0.25) solid var(--colorPinkishGrey);
        line-height: calc(var(--indentingStep) * 5);
        border-radius: calc(var(--indentingStep) * 0.5);
        padding: calc(var(--indentingStep) * 1.5) calc(var(--indentingStep) * 7);
        margin: calc(var(--indentingStep) * 1.5) 0;

        &:first-child { margin-top: 0 }
        &:last-child { margin-bottom: 0 }

        &-icon {
            position: absolute;
            left: 0;
            top: 0;
            padding: calc(var(--indentingStep) * 1.5);
        }

        &-remove {
            position: absolute;
            right: 0;
            top: 0;
            padding: calc(var(--indentingStep) * 1.5);
            cursor: pointer;
        }

        &-describe {
            color: var(--colorWarmGrey);
        }

        &-comment {
            margin-top: calc(var(--indentingStep) * 1);

            &-label {
                font-weight: bold;
            }

            &-edit {
                cursor: pointer;
                margin-left: calc(var(--indentingStep) * 1);
            }
        }

        &.s-disabled {
            background: var(--colorWhite);
        }
    }

    &__file-add {
        position: relative;
        display: block;
        box-sizing: border-box;
        height: calc(var(--indentingStep) * 20);
        background: var(--colorWhiteTwo);
        border: calc(var(--indentingStep) * 0.25) solid var(--colorPinkishGrey);
        line-height: calc(var(--indentingStep) * 5);
        text-align: center;
        border-radius: calc(var(--indentingStep) * 0.5);

        &-inner {
            position: absolute;
            box-sizing: border-box;
            top: 50%;
            left: 0;
            width: 100%;
            padding: 0 calc(var(--indentingStep) * 4);
            transform: translateY(-50%);
        }

        &.s-active {
            background: var(--colorWhite);
            border-style: dashed;
        }

        &.s-error {
            background: var(--colorWhite);
            border-color: var(--colorTomatoRed);
        }
    }

    &__value {
        position: relative;
        display: block;
        box-sizing: border-box;
        min-height: calc(var(--indentingStep) * 8);
        line-height: calc(var(--indentingStep) * 4.5);
        border: calc(var(--indentingStep) * 0.25) dotted var(--colorPinkishGrey);
        border-radius: calc(var(--indentingStep) * 0.5);
        padding: calc(var(--indentingStep) * 1.5);
        white-space: pre-line;
        overflow-wrap: break-word;
        background: var(--colorWhiteThree);
    }

    &__icon {
        position: absolute;
        bottom: calc(var(--indentingStep) * 1.5);
        right: calc(var(--indentingStep) * 1.5);
        width: calc(var(--indentingStep) * 4);
        height: calc(var(--indentingStep) * 5);
        pointer-events: none;

        &.m-button {
            pointer-events: auto;
            cursor: pointer;

            &.s-active {
                cursor: default;
            }
        }

        & svg {
            fill: var(--colorWarmGrey);
        }

        &:hover,
        &:active,
        &.s-active {
            & svg {
                fill: var(--colorGreyishBrown);
                @mixin hoverTransition fill;
            }
        }

        &-loader {
            &:before {
                margin: 0 0 0 -6px !important; /* todo исправить в компонентах rbo */
            }
        }
    }

    &__field {
        position: relative;

        &.m-pseudo-label {
            padding-top: calc(var(--indentingStep) * 4.5);
        }

        &.m-align-left { text-align: left; }
        &.m-align-center { text-align: center; }
        &.m-align-right { text-align: right; }

        &.m-date,
        &.m-dropdown,
        &.m-search {
            & .b-form-compact__input {
                padding-right: calc(var(--indentingStep) * 6.5);
            }
        }

        &.s-warning {
            & .b-form-compact__input,
            & .b-form-compact__checkbox-icon,
            & .b-form-compact__radio-icon {
                border-color: var(--colorMarigold);
            }

            & .b-form-compact__value {
                border-color: var(--colorMarigold);
            }
        }

        &.s-error {
            & .b-form-compact__input,
            & .b-form-compact__file,
            & .b-form-compact__checkbox-icon,
            & .b-form-compact__radio-icon {
                border-color: var(--colorTomatoRed);
            }

            & .b-form-compact__value {
                border-color: var(--colorTomatoRed);
            }
        }

        &.s-focused {
            & .b-form-compact__input,
            & .b-form-compact__file,
            & .b-form-compact__button,
            & .b-form-compact__checkbox-icon,
            & .b-form-compact__radio-icon {
                border-color: var(--colorPerrywinkle);
                box-shadow: 0 0 calc(var(--indentingStep) * 1) 0 var(--colorBluish);
            }
        }

        &.s-disabled {
            & .b-form-compact__input,
            & .b-form-compact__button {
                border-color: var(--colorPinkishGrey);
                background: var(--colorWhiteTwo);
                color: var(--colorGreyishBrownTwo);
                cursor: default;
            }

            & .b-form-compact__checkbox,
            & .b-form-compact__radio {
                color: var(--colorGreyishBrownTwo);
                cursor: default;
            }

            & .b-form-compact__checkbox-icon,
            & .b-form-compact__radio-icon {
                border-color: var(--colorPinkishGrey);
                background: var(--colorWhiteTwo);
            }

            & .b-form-compact__icon.m-button {
                cursor: default;
            }

            & svg {
                fill: var(--colorWarmGrey);
            }
        }
    }

    &__fieldset {
        margin: 0 calc(var(--indentingStep) * -1);
        &:after { @mixin clear-fix; }

        & .b-form-compact__label {
            padding-left: calc(var(--indentingStep) * 1);
            padding-right: calc(var(--indentingStep) * 1);
        }

        & .b-form-compact__field {
            float: left;
            padding: 0 calc(var(--indentingStep) * 1);
        }
    }

    &__popup {
        position: absolute;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        border-radius: calc(var(--indentingStep) * 0.5);
        background: var(--colorWhite);
        box-shadow: 0 calc(var(--indentingStep) * 0.5) calc(var(--indentingStep) * 2) 0 rgba(0, 0, 0, 0.4);
        overflow-y: auto;
        z-index: 99;

        &.m-date {
            width: auto;
            overflow: visible;
        }

        &-option {
            position: relative;
            box-sizing: border-box;
            min-height: calc(var(--indentingStep) * 8);
            padding: calc(var(--indentingStep) * 1.5);
            cursor: pointer;
            max-width: 100%;
            overflow-wrap: break-word;

            &.s-active {
                background: var(--colorIceBlue);
                @mixin hoverTransition background;
            }

            &.s-selected {
                background: var(--colorParchment);
            }

            &-main {
                display: flex;
                flex-flow: row nowrap;
            }

            &-title {
                flex-grow: 1;
                font-weight: bold;
                max-width: 100%;
                overflow-wrap: break-word;
            }

            &-label {
                flex-grow: 1;
                max-width: 100%;
                overflow-wrap: break-word;
            }

            &-extra {
                white-space: nowrap;
                text-align: right;
            }


            &-describe {
                font-size: var(--fontSizeSmall);
                padding-top: calc(var(--indentingStep) * 0.5);
                max-width: 100%;
                overflow-wrap: break-word;
            }

            &-inner {
                position: relative;

                &.m-inline {
                    & .b-form-compact__popup-option-title,
                    & .b-form-compact__popup-option-label,
                    & .b-form-compact__popup-option-main {
                        display: inline;
                    }

                    & .b-form-compact__popup-option-extra,
                    & .b-form-compact__popup-option-describe {
                        display: inline;
                        margin-left: calc(var(--indentingStep) * 1);

                        &:before {
                            content: '—';
                            margin-right: calc(var(--indentingStep) * 1);
                        }
                    }
                }
            }

            &-edit-link {
                position: absolute;
                top: 0;
                right: 0;
                height: calc(var(--indentingStep) * 8);
                width: calc(var(--indentingStep) * 8);
                padding: calc(var(--indentingStep) * 2);
                background: var(--colorWhite);
                border-radius: 50%;
                display: none;
                opacity: 0;
            }

            &:hover {
                & .b-form-compact__popup-option-edit-link {
                    display: block;
                    opacity: 1;
                    @mixin hoverTransition opacity;
                }
            }
        }

        &-empty {
            position: relative;
            box-sizing: border-box;
            padding: calc(var(--indentingStep) * 4);
            color: var(--colorWarmGrey);
            font-style: italic;
            text-align: center;
        }
    }

    &__collapse {
        position: relative;
        padding: calc(var(--indentingStep) * 1.5) 0;

        & svg {
            fill: var(--colorPeacockBlue);
        }

        &.m-pseudo-label {
            padding-top: calc(var(--indentingStep) * 6);
        }
    }

    &__hint {
        font-size: var(--fontSizeSmall);
        color: var(--colorGreyishBrown);

        &.m-pseudo-label {
            padding-top: calc(var(--indentingStep) * 4.5);
        }
    }

    &__error {
        padding-top: calc(var(--indentingStep) * 0.5);
        font-size: var(--fontSizeSmall);
        color: var(--colorTomatoRed);
    }

    &__hidden {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        border: none;
        background: transparent;
        outline: none;
    }
}
