@import "styles/vars.css";
@import "react-notification-system-2/dist/css/react-notification-system-2.css";

#Notification {
    z-index: 3000;
}

.notifications-tr {
    top: 56px!important;
    right: 16px!important;
    display: flex;
    flex-direction: column;
    width: 392px!important;
}

/* переопределяем стили модалного окна */
.b-modal-notify-content {
    width: 500px;
    background: transparent;
}

.notification {
    height: auto !important;
    border-radius: 2px !important;
    padding: 16px !important;
    font-size: var(--fontSizeNormal) !important;
    overflow-wrap: break-word;

    &.notification-warning,
    &.notification-success,
    &.notification-error {
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2) !important;
        .notification-action-wrapper {
            display: none;
        }
    }

    &.notification-warning {
        background: color(var(--infoNotification) a(95%)) !important;

    }
    &.notification-success {
        background: color(var(--colorLightSage) a(95%)) !important;

    }
    &.notification-error {
        background: color(var(--colorSalmon) a(95%)) !important;
    }

    &.notification-info {
        height: auto!important;
        order: 1!important;
        background: none!important;
        .notification-title,
        .notification-message,
        .notification-action-wrapper {
            display: none;
        }
    }


    & .notification-dismiss {
        background: none !important;
        color: var(--colorBlack) !important;
        font-size: 20px !important;
        top: 10px !important;
        right: 10px !important;
    }
    & .notification-title {
        color: var(--colorBlack) !important;
        margin-bottom: 16px !important;
    }
    & .notification-message {
        font-size: var(--fontSizeNormal) !important;
        color: var(--colorBlack) !important;
        white-space: pre-line;
    }

    &__actions {
        padding-top: 16px;
    }

}

.b-notify {
     position: relative;
     margin: -24px -24px -24px;
     border-radius: 3px;
     border-top: 4px solid var(--colorSunflowerYellow);
     box-shadow: 0 1px 2px rgba(0, 0, 0, .4);

    &__icon {
        position: absolute;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        top: -4px;
        right: 0;
        cursor: pointer;
        background: var(--colorSunflowerYellow);
        user-select: none;
    }
    &__navigation {
        position: absolute;
        z-index: 2;
        bottom: 20px;
        right: 20px;
        font-weight: bold;
        font-size: var(--fontSizeSmall);
        line-height: 24px;
        color: var(--colorBlack);
        height: 24px;
        & span {
            vertical-align: middle;
        }
    }
}

.b-importantMessage {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background: var(--colorSunflowerYellow);
    padding: 20px 0 24px;
    &._open {
        background: var(--colorWhite);
        & .b-importantMessage__actions {
            padding-top: 16px;
        }
        & + .b-notify__navigation {
            bottom: 24px;
        }
    }

    &__meta {
        font-weight: bold;
        font-size: var(--fontSizeSmall);
        color: var(--colorGreyishBrown);
        padding: 0 24px;
    }
    &__meta + &__meta {
        margin-top: 8px;
    }

    &__title {
        font-weight: bold;
        font-size: var(--fontSizeLarge);
        color: var(--colorBlack);
        padding: 0 40px 16px 24px;
    }
    &__message {
        max-height: calc( var(--fontSizeNormal) * 1.15 * 21.5);
        overflow-y: scroll;
        padding: 0 24px;
    }
    &__messageBody {
        border-top: 1px solid var(--colorPinkishGrey);
        border-bottom: 1px solid var(--colorPinkishGrey);
        padding: 16px 0;
        margin-top: 16px;
    }
    &__actions {
        padding-left: 24px;
        padding-right: 24px;
    }
    & button + .b-importantMessage__tumbler {
        margin-left: 8px;
    }
}
