@import "styles/vars.css";
@import "styles/mixins.css";

.b-dropdown-box {
    position: relative;
    width: 100%;

    & input[type=text] {
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        opacity: 0;
    }

    &__inner {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        height: calc(var(--indentingStep) * 9);
        border-radius: calc(var(--indentingStep) * 0.5);
        background: var(--colorWhite);
        box-shadow: 0 0 0 calc(var(--indentingStep) * 0.25) var(--colorPinkishGrey);
        line-height: calc(var(--indentingStep) * 5);
        padding: calc(var(--indentingStep) * 2);
        cursor: pointer;
    }

    &__value {
        margin-right: calc(var(--indentingStep) * 5);
        @mixin textOverflow;
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: calc(var(--indentingStep) * 1);
        margin-top: calc(var(--indentingStep) * -2.5);
    }

    &__popup {
        position: absolute;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        border-radius: calc(var(--indentingStep) * 1);
        background: var(--colorWhite);
        box-shadow: 0 calc(var(--indentingStep) * 0.5) calc(var(--indentingStep) * 3) 0 rgba(0, 0, 0, 0.4);
        overflow-y: auto;
        -ms-overflow-style: scrollbar !important;
        z-index: 99;
    }

    &__option {
        padding: calc(var(--indentingStep) * 2);
        cursor: pointer;
        min-height: calc(var(--indentingStep) * 9);

        &.s-active {
            background: var(--colorWhiteThree);
            @mixin hoverTransition background;
        }

        &.s-selected {
            background: var(--colorParchment);
        }
    }

    &.s-warning {
        & .b-dropdown-box__inner {
            box-shadow: 0 0 0 calc(var(--indentingStep) * 0.5) var(--colorMarigold);
        }
    }

    &.s-error {
        & .b-dropdown-box__inner {
            box-shadow: 0 0 0 calc(var(--indentingStep) * 0.5) var(--colorTomatoRed);
        }
    }

    &.s-opened {
        & .b-dropdown-box__inner {
            box-shadow: 0 0 calc(var(--indentingStep) * 0.25) calc(var(--indentingStep) * 0.5) var(--colorPerrywinkle) !important;
        }
    }
    &.s-focused {
        & .b-dropdown-box__inner {
            box-shadow: 0 0 calc(var(--indentingStep) * 0.25) calc(var(--indentingStep) * 0.5) var(--colorPerrywinkle) !important;
        }
    }

    &.s-disabled {
        & .b-dropdown-box__inner {
            background: var(--colorWhiteTwo);
            color: var(--colorWarmGrey);
            cursor: default;
            opacity: 0.4;
        }

        & .b-dropdown-box__icon {
            opacity: 0.4;
        }
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .b-dropdown-box {
        &__popup {
            min-width: calc(100% - 18px);
        }
    }
}
