@import "styles/vars.css";

.b-spreadsheet {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    background: var(--colorWhite);

    &__header {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        z-index: 2;
    }

    &__main {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;
        z-index: 1;
    }

    &__footer {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        background: var(--colorWhiteThree);
    }
}
