@import "styles/vars.css";

.b-statement-container {
  position: relative;
  height: 100%;

  &__info {
    background: var(--colorWhiteThree);
    border-bottom: 1px solid var(--colorGreyish);

    &-block {
      display: inline-block;
      vertical-align: middle;
      padding: calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 4);
    }

    &-label {
      font-size: var(--fontSizeSmall);
    }

    &-value {
      font-weight: bold;
    }
  }
}
