/* Collection default theme */
.ReactVirtualized__Collection {}

.ReactVirtualized__Collection__innerScrollContainer {}
/* Grid default theme */
.ReactVirtualized__Grid {}

.ReactVirtualized__Grid__innerScrollContainer {}
/* Table default theme */
.ReactVirtualized__Table {
}

.ReactVirtualized__Table__Grid {
    outline: none;
}

.ReactVirtualized__Table__headerRow {
    font-size: 12px;
    background-color: #ECECEC;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ReactVirtualized__Table__row {
    background-color: #F5F5F5;
    border-bottom: 1px solid #DFDFDF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ReactVirtualized__Table__headerTruncatedText {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ReactVirtualized__Table__headerColumn {
    border-right: 1px solid #DFDFDF;
    padding: 10px 0;

    &:last-child {
        border: none;
    }
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
    min-width: 0;
    margin-left: 10px;
}

.ReactVirtualized__Table__rowColumn {
    font-size: 14px;
}

.ReactVirtualized__Table__sortableHeaderColumn {
    cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
    display: flex;
    align-items: center;
}

.ReactVirtualized__Table__sortableHeaderIcon {
    flex: 0 0 24px;
    height: 1em;
    width: 1em;
    fill: currentColor;
}
/* List default theme */
.ReactVirtualized__List {

}
