@import "styles/vars.css";

.b-correspondent-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    &__inner {
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
        flex-flow: column nowrap;
    }
}
