@import "styles/vars.css";
@import "styles/mixins.css";

.b-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;

    & svg {
        position: absolute;
        top: 0;
        left: 0;
        fill: var(--colorGreyishBrown);
    }

    &.m-display-block {
        display: block;
    }

    &.m-48 {
        width: 48px;
        height: 48px;

        & svg {
            width: 48px;
            height: 48px;
        }
    }

    &.m-32 {
        width: 32px;
        height: 32px;

        & svg {
            width: 32px;
            height: 32px;
        }
    }

    &.m-24 {
        width: 24px;
        height: 24px;

        & svg {
            width: 24px;
            height: 24px;
        }
    }

    &.m-20 {
        width: 20px;
        height: 20px;

        & svg {
            width: 20px;
            height: 20px;
        }
    }

    &.m-16 {
        width: 16px;
        height: 16px;

        & svg {
            width: 16px;
            height: 16px;
        }
    }

    &.m-12 {
        width: 12px;
        height: 12px;

        & svg {
            width: 12px;
            height: 12px;
        }
    }

    &.m-button {
        cursor: pointer;
        &.m-24 {
            width: 32px;
            height: 32px;
            padding: 4px;

            & svg {
                top: 4px;
                left: 4px;
            }
        }

        &.m-20 {
            width: 32px;
            height: 32px;
            padding: 6px;

            & svg {
                top: 6px;
                left: 6px;
            }
        }

        &.m-16 {
            width: 32px;
            height: 32px;
            padding: 8px;

            & svg {
                top: 8px;
                left: 8px;
            }
        }

        &.m-12 {
            padding: 4px;
            width: 20px;
            height: 20px;

            & svg {
                top: 4px;
                left: 4px;
            }
        }

        & svg {
            fill: var(--colorWarmGrey);
        }

        &:hover,
        &:active,
        &.s-active {
            & svg {
                fill: var(--colorGreyishBrown);
                @mixin hoverTransition fill;
            }
        }

        &.s-active {
            cursor: default;
        }
    }

    &.m-account-blocked,
    &.m-account-closed,
    &.m-blocker,
    &.m-error {
        & svg {
            fill: var(--colorTomatoRed);
        }
    }

    &.m-bool-true {
        & svg {
            fill: var(--colorDarkSkyBlue);
        }
    }

    &.m-warning {
        & svg {
            fill: var(--colorTangerine);
        }
    }

    &.m-checkbox-checked,
    &.m-radio-checked {
        & svg {
            fill: var(--colorMarigold);
        }
    }
}
