@import "styles/vars.css";

.b-spreadsheet__selection {
    position: relative;
    padding: calc(var(--indentingStep) * 4);
    white-space: nowrap;

    &-inner {
        margin: calc(var(--indentingStep) * -1.5) 0;
        border: calc(var(--indentingStep) * 0.5) solid var(--colorSunflowerYellow);
        border-radius: calc(var(--indentingStep) * 1);
        overflow: hidden;
    }

    &-main {
        display: inline-block;
        background: var(--colorParchment);
        padding: calc(var(--indentingStep) * 1) calc(var(--indentingStep) * 2);
        font-weight: bold;
    }

    &-extra {
        display: inline-block;
        background: var(--colorWhite);
        padding: calc(var(--indentingStep) * 1) calc(var(--indentingStep) * 2);
    }

    &-label {
        display: inline-block;
        margin: 0 calc(var(--indentingStep) * 1);
    }

    &-value {
        display: inline-block;
        margin: 0 calc(var(--indentingStep) * 1);
    }
}
