@import "styles/vars.css";
@import "styles/mixins.css";

.b-document-compact {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;

    &__panel {
        position: relative;
        z-index: 2;

        &-inner {
            position: relative;
            background: var(--colorWhite);
            box-shadow: 0 calc(var(--indentingStep) * 0.5) calc(var(--indentingStep) * 1) 0 rgba(0, 0, 0, 0.4);
        }
    }

    &__operations {
        position: relative;
        padding: 0 calc(var(--indentingStep) * 4);
        height: calc(var(--indentingStep) * 22);
    }

    &__content {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;
        z-index: 1;
        width: 100%;
        max-width: calc(var(--indentingStep) * 320);
        margin: 0 auto;
        background: var(--colorWhiteThree);
        box-shadow: 0 calc(var(--indentingStep) * 1) calc(var(--indentingStep) * 0.5) 0 rgba(0, 0, 0, 0.4);
    }

    &__main {
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        width: 72%;
        box-sizing: border-box;
        background-color: var(--colorWhite);
        border-right: calc(var(--indentingStep) * 0.25) solid var(--colorPinkishGrey);

        &-inner {
            padding: calc(var(--indentingStep) * 8);
        }
    }

    &__top {
        position: relative;
        margin: calc(var(--indentingStep) * -8) calc(var(--indentingStep) * -8) calc(var(--indentingStep) * 8);
        padding: calc(var(--indentingStep) * 4) calc(var(--indentingStep) * 8);
        border-bottom: calc(var(--indentingStep) * 0.25) solid var(--colorPinkishGrey);

        &-close {
            position: absolute;
            right: calc(var(--indentingStep) * 1);
            top: calc(var(--indentingStep) * 1);
        }

        & table {
            & th,
            & td {
                vertical-align: top;
                padding: calc(var(--indentingStep) * 1) calc(var(--indentingStep) * 2);

                &:first-child { padding-left: 0; }
                &:last-child { padding-right: 0; }
            }

            & th {
                vertical-align: bottom;
                text-align: left;
                font-weight: normal;
                @mixin uppercase;
                color: var(--colorGreyishBrown);
                font-size: var(--fontSizeExtraSmall);
            }
        }

        &-signatures {
            &-item-operations {
                white-space: nowrap;
                margin: calc(var(--indentingStep) * -1) calc(var(--indentingStep) * -2);
            }
        }
    }

    &__head {
        position: relative;
        margin: calc(var(--indentingStep) * -8) calc(var(--indentingStep) * -8) 0;
        padding: calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 8);
        border-bottom: calc(var(--indentingStep) * 0.25) solid var(--colorSunflowerYellow);

        &-title {
            & h2 {
                word-break: break-all;
            }
        }
        &-inner {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        &-status {
            flex-shrink: 0;

            &-item {
                margin: 0 calc(var(--indentingStep) * 2);

                &:first-child { margin-left: 0; }
                &:last-child { margin-right: 0; }
            }

            &-label {
                margin-right: calc(var(--indentingStep) * 1);
                color: var(--colorGreyishBrown);
            }
        }

        &-tabs {
            flex-grow: 1;
            margin: calc(var(--indentingStep) * -1) 0 calc(var(--indentingStep) * -2) calc(var(--indentingStep) * 4);
        }

        &.m-template {
            background: var(--colorParchmentLight);
        }
    }

    &__body {
        position: relative;
        padding: calc(var(--indentingStep) * 4) 0;
    }

    &__extra {
        position: relative;
        box-sizing: border-box;
        width: 28%;
        flex-shrink: 0;
        flex-grow: 0;

        &-inner {
            padding: calc(var(--indentingStep) * 9) calc(var(--indentingStep) * 6.5);
        }

        &-section {
            padding: calc(var(--indentingStep) * 4) 0;

            &:first-child { padding-top: 0; }
            &:last-child { padding-bottom: 0; }

            &-header {
                margin-bottom: calc(var(--indentingStep) * 4);
            }

            &-content {
                margin: calc(var(--indentingStep) * -1) 0;
            }

            &-title {
                display: inline-block;
                vertical-align: middle;
                color: var(--colorGreyishBrown);
            }

            &.s-collapsed {
                & .b-document-compact__extra-section-content {
                    display: none;
                }
            }
        }
    }

    &__info {
        position: relative;

        &-items {
            padding: calc(var(--indentingStep) * -4) 0;
        }

        &-item {
            position: relative;
            padding: calc(var(--indentingStep) * 4) 0;
            border-top: calc(var(--indentingStep) * 0.25) solid var(--colorPinkishGrey);

            &:first-child { border-top: none; }
            &:after { @mixin clear-fix; }

            &-label {
                float: left;
                box-sizing: border-box;
                width: 35%;
                padding-right: calc(var(--indentingStep) * 4);
                font-weight: bold;
                color: var(--colorGreyishBrown);
            }

            &-value {
                float: left;
                box-sizing: border-box;
                width: 65%;
                white-space: pre-line;
                overflow-wrap: break-word;
            }
        }

        &-empty {
            padding: calc(var(--indentingStep) * 20) 0;
            text-align: center;
            color: var(--colorWarmGreyThree);

            &-icon {
                margin-bottom: calc(var(--indentingStep) * 4);

                & svg {
                    fill: var(--colorWarmGreyThree);
                }
            }
        }
    }

    &__notes {
        position: relative;

        &-value {
            white-space: pre-line;
        }

        &-empty {
            padding: calc(var(--indentingStep) * 20) 0;
            text-align: center;
            color: var(--colorWarmGreyThree);

            &-icon {
                margin-bottom: calc(var(--indentingStep) * 4);

                & svg {
                    fill: var(--colorWarmGreyThree);
                }
            }
        }
    }

    &__structure {
        &-tab {
            margin: calc(var(--indentingStep) * 4) 0;

            &:first-child { margin-top: 0; }
            &:last-child { margin-bottom: 0; }

            &-header {
                margin-bottom: calc(var(--indentingStep) * 2);
            }

            &-title {
                font-weight: bold;
                color: var(--colorWarmGrey);
                cursor: pointer;
                @mixin uppercase;
            }

            &.s-active {
                & .b-document-compact__structure-tab-title {
                    cursor: default;
                    color: var(--colorBlack);
                }
            }
        }

        &-section {
            margin: calc(var(--indentingStep) * 2) 0;

            &:first-child { margin-top: 0; }
            &:last-child { margin-bottom: 0; }

            &-title {
                font-size: var(--fontSizeSmall);
            }

            &.s-active {
                & .b-document-compact__structure-section-title {
                    font-weight: bold;
                }
            }
        }

        &-error {
            font-size: var(--fontSizeSmall);
            box-sizing: border-box;
            position: relative;
            margin: calc(var(--indentingStep) * 0.75) calc(var(--indentingStep) * -5.5);
            padding: calc(var(--indentingStep) * 0.75) calc(var(--indentingStep) * 1) calc(var(--indentingStep) * 0.75) calc(var(--indentingStep) * 5.5);
            border-radius: calc(var(--indentingStep) * 0.5);
            overflow: hidden;

            &-label {
                width: 100%;
            }

            &.m-clickable {
                cursor: pointer;

                & .b-document-compact__structure-error-label {
                    @mixin textOverflow;
                }
            }

            &.s-active {
                background: var(--colorWhite);
                box-shadow: 0 0 0 1px var(--colorPinkishGrey);

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: calc(var(--indentingStep) * 0.5);
                    background: var(--colorSunflowerYellow);
                }

                & .b-document-compact__structure-error-label {
                    @mixin resetTextOverflow;
                }
            }

            &-icon {
                position: absolute;
                top: calc(var(--indentingStep) * 0.5);
                left: calc(var(--indentingStep) * 1);
                width: calc(var(--indentingStep) * 4);
                vertical-align: middle;
            }
        }
    }

    &__linked-docs {
        position: relative;

        &-items {
            font-size: var(--fontSizeSmall);
        }

        &-item {
            margin: calc(var(--indentingStep) * 2) 0;

            &:first-child { margin-top: 0; }
            &:last-child { margin-bottom: 0; }
        }
    }
}
