@import "styles/vars.css";
@import "styles/mixins.css";

.b-spreadsheet__pagination {
    position: relative;
    text-align: right;
    white-space: nowrap;
    padding: calc(var(--indentingStep) * 4);
    flex-grow: 1;

    &-items {
        margin: 0 calc(var(--indentingStep) * -2);
    }

    &-item {
        line-height: calc(var(--indentingStep) * 5);
        display: inline-block;
        margin: 0 calc(var(--indentingStep) * 2);

        & span {
            display: block;
            box-sizing: border-box;
            text-align: center;
            min-width: calc(var(--indentingStep) * 8);
            margin: calc(var(--indentingStep) * -1.5);
            padding: calc(var(--indentingStep) * 1.5);
            cursor: pointer;

            &:hover {
                background: var(--colorLightGrey);
                @mixin hoverTransition background;
            }
        }

        &.s-selected {
            & span {
                cursor: default;

                &:hover {
                    background: none;
                }
            }
        }
    }
}
