@import "styles/vars.css";

.b-sign {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background: var(--colorWhite);
    padding: 0;
    color: var(--colorGreyishBrown);
    &__title {
        font-weight: bold;
        font-size: var(--fontSizeExtraLarge);
        color: var(--colorBlack);
        padding: 0 32px;
        line-height: 56px;
        box-shadow: inset 0 -1px 0 0 var(--colorSunflowerYellow);
    }
    &__order-number {
        font-weight: bold;
        font-size: var(--fontSizeSmall);
        line-height: 24px;
        color: var(--colorBlack);
        height: 24px;
        & span {
            vertical-align: top;
        }
    }
    &__summary {
        font-size: var(--fontSizeLarge);
        color: var(--colorGreyishBrown);
        padding: 16px 32px;
        border-bottom: 1px solid var(--colorPinkishGrey);
        line-height: 32px;
    }
    &__summary-row {
        display: flex;
    }
    &__summary-row-name {
        width: 96px;
        font-weight: bold;
    }

       &__confirmation {
        padding: 16px 32px;
    }
    &__confirmation-text {
        font-size: var(--fontSizeLarge);
        padding-top: 16px;
        padding-bottom: 8px;
        &._bold {
            font-weight: bold;
        }
    }
    &__confirmation-text + .b-sign__confirmation-text {
        padding-top: 8px;
    }
    &__error-message {
        font-size: var(--fontSizeNormal);
        color: var(--colorTomatoRed);
        padding-top: 8px;
        padding-bottom: 16px;
    }
     
    &__actions {
        padding: 16px 32px;
        border-top: 1px solid var(--colorPinkishGrey);
    }
    & .form-row {
        display: flex;
        & .input {
            width: 185px;
        }
        & .input + .button {
            margin-left: 8px;
        }
    }
    & .form-row + .form-row {
        padding-top: 8px;
    }
    & button + .link {
        margin-left: 8px;
    }

    &__chooselist {
         padding: 16px 32px;
         font-size: var(--fontSizeLarge);
    }
    &__chooselist-title {
        font-weight: bold;
        margin-bottom: 16px;
    }

    &__chooseitem {
        margin-bottom: 8px;
        cursor: pointer;
        color: var(--colorPeacockBlue);

        &.disable {
            color: var(--colorBlack);
            cursor: default;
            opacity: 0.5;
        }

        &:hover {
            color: var(--colorCeruleanBlue);
            &.disable {
                color: var(--colorBlack);
                cursor: default;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
    & input[type=radio] + label span.b-sign__radio {
        content: "";
        display: inline-block;
        box-sizing: content-box;
        vertical-align: text-top;
        width: 10px;
        height: 10px;
        background-color: #FFFFFF;
        border-radius: 100%;
        border: 1px solid #000000;
        margin: 0 8px 0 0;
        padding: 2px;
    }
}


.modal-signing {
    &-title {
        border-width: 1px;
        font-size: 24px;
        padding: 13px 32px;
    }

    &-body {
        padding: 0 32px;
    }

    &-link {
        margin-bottom: 8px;
        & .b-icon {
            margin-right: 4px;
        }
    }
}

/* переопределяем стили модалного окна */
.b-modal-sign-content {
    width: 600px;
    padding: 0 0 32px 0;
}

