@import "styles/vars.css";
@import "styles/mixins.css";

.b-operations-panel {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    height: calc(var(--indentingStep) * 22);

    &__main {
        &-items {
            white-space: nowrap;
        }

        & .b-operations-panel__item {
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
            white-space: normal;
            text-align: center;
            min-width: calc(var(--indentingStep) * 22);
            max-width: calc(var(--indentingStep) * 25);
            height: calc(var(--indentingStep) * 22);
            padding: calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 1);
            cursor: pointer;

            &-icon {
                padding: calc(var(--indentingStep) * 1) 0;
            }

            &-title {
                padding: calc(var(--indentingStep) * 1) 0;
                font-size: var(--fontSizeSmall);
            }
        }
    }

    &__extra {
        &-toggle {
            box-sizing: border-box;
            text-align: center;
            width: calc(var(--indentingStep) * 22);
            height: calc(var(--indentingStep) * 22);
            padding: calc(var(--indentingStep) * 2);
            cursor: pointer;

            &-icon {
                padding: calc(var(--indentingStep) * 1) 0;
            }

            &-title {
                padding: calc(var(--indentingStep) * 1) 0;
                font-size: var(--fontSizeSmall);
            }

            &:hover {
                background: var(--colorWhiteThree);
                @mixin hoverTransition background;
            }

            &.s-active {
                background: var(--colorIceBlue);
            }
        }

        &-popup {
            box-sizing: border-box;
            min-width: calc(var(--indentingStep) * 52);

            & .b-operations-panel__item {
                box-sizing: border-box;
                padding: calc(var(--indentingStep) * 2);
                white-space: nowrap;

                &-icon {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 calc(var(--indentingStep) * 1);
                }

                &-title {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 calc(var(--indentingStep) * 1);
                }
            }
        }
    }

    &__item {
        cursor: pointer;

        &:hover {
            background: var(--colorWhiteThree);
            @mixin hoverTransition background;
        }

        &.s-active {
            background: var(--colorIceBlue);
        }

        &.s-disabled {
            background: var(--colorWhite);
            cursor: not-allowed;

            & .b-operations-panel__item-icon,
            & .b-operations-panel__item-title {
                opacity: 0.6;
            }
        }

        &.s-progress {
            background: var(--colorIceBlue);
            cursor: progress;

            & .b-operations-panel__item-icon,
            & .b-operations-panel__item-title {
                opacity: 0.6;
            }
        }
    }
}
