@import "../../assets/styles/vars.css";

.b-application {
  position: relative;
  height: 100%;

  &__root {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__layout {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__content {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: calc(var(--indentingStep) * 10) 0 0 calc(var(--indentingStep) * 18);
  }
}
