@import "styles/vars.css";
@import "styles/mixins.css";

.b-spreadsheet__filters {
    position: relative;
    padding: calc(var(--indentingStep) * 4);

    &-inner {
        position: relative;
    }

    &-header {
        position: relative;
        margin: calc(var(--indentingStep) * -1) 0 calc(var(--indentingStep) * 1);
    }

    &-content {
        position: relative;
    }

    &-title {
        display: inline-block;
        height: calc(var(--indentingStep) * 5);
        line-height: calc(var(--indentingStep) * 5);
        margin-right: calc(var(--indentingStep) * 4);
    }

    &-dropdown-box {
        display: inline-block;
        vertical-align: middle;
        width: calc(var(--indentingStep) * 72);
        margin-right: calc(var(--indentingStep) * 2);

        &-option {
            position: relative;
            padding: calc(var(--indentingStep) * 1) 0;

            &-remove {
                position: absolute;
                top: 50%;
                margin-top: calc(var(--indentingStep) * -4);
                right: 0;
            }

            &-title {
                padding-right: calc(var(--indentingStep) * 8);
                @mixin textOverflow;
            }
        }
    }

    &-create-new {
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        height: calc(var(--indentingStep) * 6);
        line-height: calc(var(--indentingStep) * 5);
        margin: calc(var(--indentingStep) * 1.5) 0;
    }

    &-close {
        position: absolute;
        top: calc(var(--indentingStep) * -1);
        right: calc(var(--indentingStep) * -3);
    }

    &-operations {
        display: inline-block;
        margin: calc(var(--indentingStep) * -2);

        &-item {
            display: inline-block;
            margin: calc(var(--indentingStep) * 2);
        }
    }

    &-conditions {
        margin: calc(var(--indentingStep) * 1.5) calc(var(--indentingStep) * -0.5);
    }

    &-condition {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        margin: calc(var(--indentingStep) * 0.5);
        height: calc(var(--indentingStep) * 6);
        line-height: calc(var(--indentingStep) * 5);
        padding: calc(var(--indentingStep) * 0.5) calc(var(--indentingStep) * 2);
        border-radius: calc(var(--indentingStep) * 0.5);
        background: var(--colorDarkSkyBlue);
        color: var(--colorWhite);
        cursor: pointer;

        &.m-bool {
            cursor: default;
        }

        &.s-selected {
            background: var(--colorDarkLilac);

            & .b-spreadsheet__filters-condition-remove {
                display: none;
            }
        }

        &.m-add {
            background: transparent;
            padding-left: 0;
            padding-right: 0;
            cursor: default;
        }

        &-label {
            margin-right: calc(var(--indentingStep) * 4);
            max-width: calc(var(--indentingStep) * 100);
            @mixin textOverflow;
        }

        &-popup {
            padding: calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 3);
        }

        &-remove {
            position: absolute;
            top: 0;
            right: 0;
            padding: calc(var(--indentingStep) * 0.5);

            & .b-icon {
                display: block;

                & svg {
                    fill: var(--colorWhite);
                }

                &:hover {
                    background: var(--colorPerrywinkle);
                    @mixin hoverTransition background;

                    & svg {
                        fill: var(--colorWhite);
                    }
                }
            }
        }
    }

    &-save-as-popup {
        padding: calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 3);
    }

    &-add-condition {
        &-popup {
            min-width: calc(var(--indentingStep) * 60);
        }

        &-item {
            cursor: pointer;
            box-sizing: border-box;
            padding: calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 3);

            &:hover {
                background: var(--colorWhiteThree);
                @mixin hoverTransition background;
            }
        }
    }

    &-form {
        padding: calc(var(--indentingStep) * 4);

        &-input {
            width: calc(var(--indentingStep) * 80);

            &.m-currency {
                width: calc(var(--indentingStep) * 42);
            }
        }

        &-autocomplite-select {
            width: calc(var(--indentingStep) * 80);
        }
    }
}
