@import "styles/vars.css";

.b-correspondents-container {
    position: relative;
    height: 100%;
    & .b-selected-counter {
        background: var(--colorParchment);
        border: 2px solid var(--colorMarigold);
        border-radius: 4px;
        margin-top: 7px;
        margin-left: 20px;
        margin-bottom: 10px;
        text-align: center;
        vertical-align: middle;
        line-height: 32px;
        padding: 0 15px;
        font-weight: bold;
    }
}
