@import "styles/vars.css";

.b-important-message {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background: var(--colorSunflowerYellow);
    padding: 20px 0 24px;
    &._open {
        background: var(--colorWhite);
        & .b-importantMessage__actions {
            padding-top: 16px;
        }
        & + .b-notify__navigation {
            bottom: 24px;
        }
    }

    &__meta {
        font-weight: bold;
        font-size: var(--fontSizeSmall);
        color: var(--colorGreyishBrown);
        padding: 0 24px;

        &-value {
            font-weight: normal;
        }
    }
    &__meta + &__meta {
        margin-top: 8px;
    }

    &__title {
        font-weight: bold;
        font-size: var(--fontSizeLarge);
        color: var(--colorBlack);
        padding: 0 40px 16px 24px;
    }
    &__message {
        max-height: calc( var(--fontSizeNormal) * 1.15 * 21.5);
        overflow-y: scroll;
        padding: 0 24px;
    }
    &__message-body {
        border-top: 1px solid var(--colorPinkishGrey);
        border-bottom: 1px solid var(--colorPinkishGrey);
        padding: 16px 0;
        margin: 16px 0;
    }
    &__actions {
        padding-left: 24px;
        padding-right: 24px;

        & .button-tumbler {
            display: inline-block;
            margin-left: 8px;
            padding: 7px 14px 5px;
            vertical-align: top;
        }
    }
    & button + .b-important-message__tumbler {
        margin-left: 8px;
    }

    &__attach {
        padding: 8px 24px 0;

        &-icon {
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
        }
        &-value {
            display: inline-block;
            width: 300px;
            padding-left: 10px;
        }
        &-name {
            color: var(--colorCeruleanBlue);
            cursor: pointer;
        }
        &-info {
            color: var(--colorWarmGreyTwo);
        }
    }
}
