@import "styles/vars.css";
@import "styles/mixins.css";

.b-button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    height: calc(var(--indentingStep) * 8);
    border-radius: calc(var(--indentingStep) * 4);
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    @mixin uppercase;

    &__main {
        display: inline-block;
        vertical-align: middle;
        padding: calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 4);

        &:hover {
            @mixin hoverTransition background;
        }
    }

    &__multiple {
        display: inline-block;
        vertical-align: middle;
        margin-left: calc(var(--indentingStep) * -0.5);
        border-left: calc(var(--indentingStep) * 0.5) solid color(var(--colorWhite));
        padding: calc(var(--indentingStep) * 2) 0;

        &-toggle {
            margin: calc(var(--indentingStep) * -2) 0;
            padding: calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 1.5);
        }

        &-popup {
            box-sizing: border-box;
        }

        &-item {
            cursor: pointer;
            box-sizing: border-box;
            padding: calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 3);

            &-icon {
                display: inline-block;
                vertical-align: middle;
                padding: 0 calc(var(--indentingStep) * 1);
            }

            &:hover {
                background: var(--colorWhiteThree);
                @mixin hoverTransition background;
            }

            &.s-active {
                background: var(--colorIceBlue);
            }
        }

        &-select {
            border-top: calc(var(--indentingStep) * 0.25) solid var(--colorPinkishGrey);
            padding-top: calc(var(--indentingStep) * 2);
            max-width: calc(var(--indentingStep) * 80);

            &-title {
                box-sizing: border-box;
                padding: calc(var(--indentingStep) * 1) calc(var(--indentingStep) * 3);
                font-weight: bold;
            }

            &-items {
                max-height: calc(var(--indentingStep) * 80);
                overflow-y: auto;
            }
        }
    }

    &.s-disabled {
        cursor: not-allowed;

        & .b-button__icon,
        & .b-button__title,
        & .b-button__multiple-toggle-icon {
            opacity: 0.6;
        }
    }

    &.s-progress {
        cursor: progress;

        & .b-button__icon,
        & .b-button__title,
        & .b-button__multiple-toggle-icon {
            opacity: 0.6;
        }
    }

    &.m-primary {
        & .b-button__main {
            background: var(--colorSunflowerYellow);

            &:hover {
                background: var(--colorMarigold);
            }
        }

        &.s-active {
            & .b-button__main {
                background: var(--colorMarigold);
            }
        }

        & .b-button__multiple-toggle {
            background: var(--colorSunflowerYellow);

            &:hover {
                background: var(--colorMarigold);
            }

            &.s-active {
                background: var(--colorMarigold);
            }
        }

        &.s-disabled {
            & .b-button__main,
            & .b-button__multiple-toggle {
                background: var(--colorGreyish);
            }
        }

        &.s-progress {
            & .b-button__main,
            & .b-button__multiple-toggle {
                background: var(--colorMarigold);
            }
        }
    }

    &.m-secondary {
        & .b-button__main {
            color: var(--colorWhite);
            background: var(--colorPeacockBlue);

            &:hover {
                background: var(--colorPeacockBlueDark);
            }
        }

        &.s-active {
            & .b-button__main {
                background: var(--colorPeacockBlueDark);
            }
        }

        & .b-button__icon {
            & .b-icon svg { fill: var(--colorWhite); }
        }

        & .b-button__multiple-toggle {
            background: var(--colorPeacockBlue);

            & .b-icon svg { fill: var(--colorWhite); }

            &:hover {
                background: var(--colorPeacockBlueDark);
            }

            &.s-active {
                background: var(--colorPeacockBlueDark);
            }
        }

        &.s-disabled {
            & .b-button__main {
                color: inherit;
                background: var(--colorGreyish);
            }

            & .b-button__icon {
                & .b-icon svg { fill: inherit; }
            }

            & .b-button__multiple-toggle {
                background: var(--colorGreyish);

                & .b-icon svg { fill: inherit; }
            }
        }

        &.s-progress {
            & .b-button__main,
            & .b-button__multiple-toggle {
                background: var(--colorPeacockBlueDark);
            }
        }
    }

    &.m-tertiary {
        & .b-button__main {
            background: var(--colorLightGrey);

            &:hover {
                background: var(--colorPinkishGrey);
            }
        }

        &.s-active {
            & .b-button__main {
                background: var(--colorPinkishGrey);
            }
        }

        & .b-button__multiple-toggle {
            background: var(--colorLightGrey);

            &:hover {
                background: var(--colorPinkishGrey);
            }

            &.s-active {
                background: var(--colorPinkishGrey);
            }
        }

        &.s-disabled {
            & .b-button__main,
            & .b-button__multiple-toggle {
                background: var(--colorGreyish);
            }
        }

        &.s-progress {
            & .b-button__main,
            & .b-button__multiple-toggle {
                background: var(--colorPinkishGrey);
            }
        }
    }

    &__icon {
        display: inline-block;
        vertical-align: middle;
    }

    &__title {
        display: inline-block;
        vertical-align: middle;
    }
}
