@import "styles/vars.css";
@import "styles/mixins.css";

.b-template-select-item {
  position: relative;
  margin: calc(var(--indentingStep) * -2) calc(var(--indentingStep) * -3);
  padding: calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 3);

  &__edit {
    position: absolute;
    top: 50%;
    margin-top: calc(var(--indentingStep) * -4);
    right: calc(var(--indentingStep) * 2);
    background: var(--colorWhite);
    border-radius: 50%;
    display: none;
    opacity: 0;
  }

  &__title {
    @mixin textOverflow;
  }

  &__corr {
    color: var(--colorGreyishBrown);
    font-size: var(--fontSizeSmall);
    @mixin textOverflow;
  }

  &:hover {
    & .b-template-select-item__content {
      padding-right: calc(var(--indentingStep) * 8);
    }

    & .b-template-select-item__edit {
      display: block;
      opacity: 1;
      @mixin hoverTransition opacity;
    }
  }
}
