@import "styles/vars.css";
@import "styles/mixins.css";

.b-home-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    &__inner {
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
        flex-flow: column nowrap;
    }

    &__header {
        padding: calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 8);
    }

    &__content {
        padding: 0 calc(var(--indentingStep) * 8) calc(var(--indentingStep) * 8);
    }

    &__grid {
        &-row {
            position: relative;
            padding: calc(var(--indentingStep) * 4) 0;

            &:first-child { padding-top: 0; }
            &:last-child { padding-bottom: 0; }

            &:after {
                content: "";
                display: block;
                clear: both;
                height: 0;
            }
        }

        &-cell {
            position: relative;
            float: left;
            padding: 0 calc(var(--indentingStep) * 4);

            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }

            &.m-1 { width: 50%; }

            &.m-2 { width: 100%; }
        }
    }

    &__top-bar {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        &-left {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &-right {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &-operations {
            position: relative;

            &-items {
                margin: calc(var(--indentingStep) * -1) calc(var(--indentingStep) * -2);
            }

            &-item {
                display: inline-block;
                box-sizing: border-box;
                height: 32px;
                border-radius: 16px;
                margin: calc(var(--indentingStep) * 1) calc(var(--indentingStep) * 2);
                padding: calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 4);
                white-space: nowrap;
                background: var(--colorPeacockBlue);
                color: var(--colorWhite);

                @mixin uppercase;

                &:hover {
                    background: var(--colorPeacockBlueDark);
                    color: var(--colorWhite);

                    @mixin hoverTransition background;
                }

                &:active {
                    background: var(--colorPeacockBlueDark);
                    transition: none;
                }

                &.m-disabled {
                    background: var(--colorWhiteTwo);
                    color: var(--colorWarmGreyThree);
                    cursor: default;
                }
            }
        }

        &-info {
            position: relative;
            padding: calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 4);
            background: var(--colorWhite);
            border-radius: 2px;

            &-title {
                display: inline-block;
                vertical-align: top;
                font-weight: bold;
                margin-right: calc(var(--indentingStep) * 4);
            }

            &-items {
                display: inline-block;
                vertical-align: top;
                white-space: nowrap;
                margin: 0 calc(var(--indentingStep) * -2);
            }

            &-item {
                display: inline-block;
                vertical-align: middle;
                margin: 0 calc(var(--indentingStep) * 2);

                &:before {
                    content: "·";
                    display: inline-block;
                    vertical-align: top;
                    width: calc(var(--indentingStep) * 4);
                    text-align: center;
                    margin-left: calc(var(--indentingStep) * -4);
                }

                &:first-child {
                    &:before {
                        display: none;
                    }
                }

                &-title {
                    display: inline-block;
                    margin-right: calc(var(--indentingStep) * 1);
                }

                &-count {
                    display: inline-block;
                    font-weight: bold;

                    &.m-attention {
                        color: var(--colorTomatoRed);
                    }
                }

                &-date {
                    font-size: var(--fontSizeExtraSmall);
                    color: var(--colorWarmGrey);
                }
            }
        }
    }

    &__card {
        position: relative;
        background: var(--colorWhite);
        border-radius: 2px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.32);

        &-header {
            position: relative;
            box-sizing: border-box;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-end;
            height: 56px;
            margin: 0 calc(var(--indentingStep) * 8);
            border-bottom: 2px solid var(--colorSunflowerYellow);

            &.m-border-none {
                border-bottom-color: transparent;
            }

            &-title {
                margin: calc(var(--indentingStep) * 1) 0;
            }

            &-tabs {
                position: relative;
                flex-grow: 1;
                margin-left: calc(var(--indentingStep) * 8);
            }

            &-spacer {
                flex-grow: 1;
            }

            &-controls {
                align-self: center;

                &-item {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;

                    &.s-changed {
                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 4px;
                            right: 0;
                            width: 8px;
                            height: 8px;
                            border-radius: 4px;
                            background: var(--colorTrueGreen);
                        }
                    }
                }
            }
        }

        &-content {
            margin: 0 calc(var(--indentingStep) * 8);
        }

        &-not-found {
            position: absolute;
            box-sizing: border-box;
            top: 50%;
            left: 0;
            width: 100%;
            padding: 0 calc(var(--indentingStep) * 8);
            transform: translateY(-50%);
            text-align: center;
            font-style: italic;
            font-size: var(--fontSizeLarge);
            color: var(--colorWarmGrey);
        }

        &-filters {
            position: absolute;
            right: calc(var(--indentingStep) * 2);
            top: calc(var(--indentingStep) * 11);

            &-popup {
                box-sizing: border-box;
                min-width: 240px;
                padding: calc(var(--indentingStep) * 4);
            }

            &-title {
                margin-bottom: calc(var(--indentingStep) * 2);

                &.m-inline {
                    display: inline-block;
                    margin-right: calc(var(--indentingStep) * 4);
                    margin-bottom: calc(var(--indentingStep) * 4);
                }
            }

            &-operations {
                margin: calc(var(--indentingStep) * 2) calc(var(--indentingStep) * -1) calc(var(--indentingStep) * 4);

                &.m-inline {
                    display: inline-block;
                }

                &-item {
                    display: inline-block;
                    margin: 0 calc(var(--indentingStep) * 1);
                }
            }

            &-separator {
                height: 1px;
                background: var(--colorLightGrey);
                margin: calc(var(--indentingStep) * 6) 0 calc(var(--indentingStep) * 4);
            }
        }
    }

    &__accounts {
        position: relative;

        &-blocks {
            position: relative;
            display: flex;
            flex-flow: row nowrap;

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                width: 1px;
                left: 50%;
                background: var(--colorPinkishGrey);
            }
        }

        &-block {
            width: 50%;

            &.m-settings {
                background: var(--colorWhiteThree);
            }
        }

        &-header {
            &-tabs {
                &-inner {
                    text-align: left !important;
                }
            }
        }

        &-preview {
            position: relative;
        }

        &-settings {
            position: relative;

            &-operations {
                margin: calc(var(--indentingStep) * 1) 0;

                &-items {
                    margin: 0 calc(var(--indentingStep) * -2);
                }

                &-item {
                    display: inline-block;
                    margin: 0 calc(var(--indentingStep) * 2);
                }
            }
        }

        &-list {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            height: 494px;
            box-sizing: border-box;
            padding-bottom:  calc(var(--indentingStep) * 8);

            &-content {
                position: relative;
                flex-grow: 1;
                overflow-y: auto;
                overflow-x: hidden;
                margin-right: calc(var(--indentingStep) * -4);
                padding-right: calc(var(--indentingStep) * 4);
            }

            &-item {
                position: relative;
                display: block;
                padding: calc(var(--indentingStep) * 2);
                border-bottom: 1px solid var(--colorLightGrey);
                cursor: pointer;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 4px;
                    background: transparent;
                }

                &:hover {
                    background: var(--colorWhiteTwo);

                    @mixin hoverTransition background;
                }

                &.s-selected {
                    background: var(--colorIceBlue);
                    cursor: default;

                    &:before {
                        background-color: var(--colorPerrywinkle);
                    }
                }

                &-title {
                    margin-bottom: calc(var(--indentingStep) * 2);

                    @mixin textOverflow;
                }

                &-number {
                    font-size: var(--fontSizeLarge);

                    &.m-closed { color: var(--colorWarmGreyThree); }
                    &.m-blocked { color: var(--colorTomatoRed); }
                }

                &-icon {
                    position: relative;
                    display: inline-block;
                    margin: 0 calc(var(--indentingStep) * 1);
                    top: calc(var(--indentingStep) * -0.5);
                }

                &-name {
                    font-style: italic;
                    color: var(--colorGreyishBrown);
                }

                &-content {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                }

                &-organization {
                    color: var(--colorGreyishBrown);

                    @mixin uppercase;
                }

                &-balance {
                    text-align: right;

                    &-item {
                        margin-bottom: calc(var(--indentingStep) * 2);

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &-label {
                            white-space: nowrap;

                            @mixin uppercase;

                            font-size: var(--fontSizeExtraSmall);
                        }

                        &-value {
                            font-size: var(--fontSizeSmall);
                            font-weight: bold;
                        }

                        &.m-today {
                            & .b-home-container__accounts-list-item-balance-item-label {
                                font-size: var(--fontSizeSmall);
                            }

                            & .b-home-container__accounts-list-item-balance-item-value {
                                font-size: var(--fontSizeLarge);
                            }
                        }
                    }
                }
            }

            &-sortable {
                position: relative;

                &-item {
                    position: relative;
                    display: block;
                    padding: calc(var(--indentingStep) * 4) calc(var(--indentingStep) * 2);
                    border-top: 1px solid var(--colorLightGrey);
                    border-bottom: 1px solid var(--colorLightGrey);
                    cursor: move;
                    margin-bottom: -1px;

                    &-inner {
                        pointer-events: none;
                        user-select: none;
                    }

                    &-content {
                        padding-right: calc(var(--indentingStep) * 8);
                    }

                    &-title {
                        margin-bottom: calc(var(--indentingStep) * 2);

                        @mixin textOverflow;
                    }

                    &-number {
                        font-size: var(--fontSizeLarge);
                    }

                    &-name {
                        font-style: italic;
                        color: var(--colorGreyishBrown);
                    }

                    &-organization {
                        color: var(--colorGreyishBrown);

                        @mixin textOverflow;
                        @mixin uppercase;
                    }

                    &-icon {
                        position: absolute;
                        top: 50%;
                        right: 8px;
                        height: 16px;
                        width: 16px;
                        margin-top: -8px;
                    }
                }

                &-preview {
                    position: fixed;
                    pointer-events: none;
                    z-index: 100;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;

                    & .b-home-container__accounts-list-sortable-item {
                        pointer-events: none;
                        border: 1px solid var(--colorLightGrey);
                        background: var(--colorWhite);
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.32);
                    }
                }
            }
        }

        &-movements {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            height: 494px;

            &-header {
                flex-shrink: 0;
                padding: calc(var(--indentingStep) * 4) calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 2);
                border-bottom: 1px solid var(--colorLightGrey);
                text-align: center;
            }

            &-content {
                position: relative;
                flex-grow: 1;
                overflow-y: auto;
                overflow-x: hidden;
                margin-right: calc(var(--indentingStep) * -4);
                padding-right: calc(var(--indentingStep) * 4);
            }

            &-footer {
                flex-shrink: 0;
                padding: calc(var(--indentingStep) * 4) calc(var(--indentingStep) * 2);
                text-align: right;
            }

            &-group {
                position: relative;

                &-title {
                    padding: calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 1);
                    border-bottom: 2px solid var(--colorLightGrey);
                }

                &-content {
                    padding: calc(var(--indentingStep) * 2) 0;
                }

                &-date {
                    @mixin uppercase;
                }
            }

            &-items {
                margin: calc(var(--indentingStep) * -2) 0;
            }

            &-item {
                position: relative;
                margin: calc(var(--indentingStep) * 2) 0;
                padding: calc(var(--indentingStep) * 2);
                cursor: pointer;

                &:after {
                    @mixin clear-fix;
                }

                &:hover {
                    background: var(--colorWhiteTwo);

                    @mixin hoverTransition background;
                }

                &-left {
                    float: left;
                    box-sizing: border-box;
                    width: 136px;
                    padding-right: calc(var(--indentingStep) * 4);
                    text-align: right;
                }

                &-right {
                    margin-left: 136px;
                }

                &-amount {
                    &.m-debit {
                        color: var(--colorTomatoRed);
                    }

                    &.m-credit {
                        color: var(--colorTrueGreen);
                    }
                }

                &-corr-purpose {
                    position: relative;
                    
                    &.m-collapsed {
                        max-height: calc(var(--indentingStep) * 9);
                        overflow: hidden;
                    }
                }

                &-corr-number {
                    margin-top: calc(var(--indentingStep) * 1);
                    font-size: var(--fontSizeSmall);
                    color: var(--colorGreyishBrown);
                }

                &-corr-name {
                    margin-top: 2px;
                    font-size: var(--fontSizeSmall);
                    color: var(--colorGreyishBrown);
                }

                &-corr-account {
                    font-size: var(--fontSizeSmall);
                    color: var(--colorGreyishBrown);
                }

                &-corr-inn {
                    font-size: var(--fontSizeSmall);
                    color: var(--colorGreyishBrown);
                }
            }
        }

        &-favorites {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            height: 494px;
            box-sizing: border-box;
            padding-bottom:  calc(var(--indentingStep) * 4);

            &-content {
                flex-grow: 1;
                overflow-y: auto;
                overflow-x: hidden;
                margin-right:  calc(var(--indentingStep) * -4);
                padding-right:  calc(var(--indentingStep) * 4);
            }

            &-item {
                border-top: 1px solid var(--colorLightGrey);
                position: relative;
                overflow: hidden;

                & .b-form-compact__checkbox {
                    display: block;

                    &-input {
                        top: calc(var(--indentingStep) * -4);
                        left: calc(var(--indentingStep) * -4);
                    }

                    &-icon {
                        display: none;
                    }

                    &-title {
                        display: block;
                        padding: calc(var(--indentingStep) * 2);
                        margin-left: 0;
                    }
                }

                &-icon {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: calc(var(--indentingStep) * 1.5);
                }

                &-title {
                    margin-left: calc(var(--indentingStep) * 4);

                    &:after {
                        @mixin clear-fix;
                    }
                }

                &-number {
                    float: left;
                    box-sizing: border-box;
                    width: 220px;
                }

                &-organization {
                    margin-left: 220px;

                    @mixin uppercase;
                }
            }
        }

        &-view-toggle {
            position: relative;
            line-height: 0;
            padding: 0 calc(var(--indentingStep) * 2);

            &-item {
                display: inline-block;
                box-sizing: border-box;
                border: 1px solid transparent;
                border-radius: 50%;

                &.s-active {
                    border-color: var(--colorWarmGreyThree);
                }
            }
        }

        &-corp {
            position: relative;
        }

        &-statements {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            min-height: 494px;
            box-sizing: border-box;
            padding: calc(var(--indentingStep) * 2) 0;

            &-settings {
                position: absolute;
                box-sizing: border-box;
                top: 8px;
                right: 0;
                width: 64px;
                height: 40px;
                padding: calc(var(--indentingStep) * 1);
                z-index: 1;
                background: linear-gradient(to right, rgba(236,236,236,0) 0, rgba(236,236,236,0.4) 40%);
                overflow: hidden;

                &-icon {
                    width: 32px;
                    height: 32px;
                    float: right;
                    background: var(--colorWhiteThree);
                    border-radius: 50%;
                    z-index: 1;
                }
            }

        }

        &-table {
            position: relative;
            flex-grow: 1;
            overflow-x: auto;

            &-content {
                position: relative;
                display: inline-block;
                white-space: nowrap;
                min-width: 100%;
            }

            &-value {
                display: inline-block;
            }

            &-icon {
                position: relative;
                display: inline-block;
                margin-left: calc(var(--indentingStep) * 1);
            }

            &-operations {
                display: none;
                margin: calc(var(--indentingStep) * -2) 0;

                &-item {
                    display: inline-block;
                }
            }

            &-row {
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                padding: calc(var(--indentingStep) * 2) 0;

                &:hover {
                    & .b-home-container__accounts-table-operations {
                        display: inline-block;
                    }
                }

                @media (hover: none) {
                    & .b-home-container__accounts-table-operations {
                        display: inline-block !important;
                    }
                }
            }

            &-cell {
                box-sizing: border-box;
                padding: 0 calc(var(--indentingStep) * 2);
                white-space: normal;

                &.m-text-align-right {
                    text-align: right;
                }

                &.m-account {
                    flex: 216;
                    min-width: 216px;

                    &.m-closed { color: var(--colorWarmGreyThree); }
                    &.m-blocked { color: var(--colorTomatoRed); }
                }

                &.m-accountCurrency { flex: 60; min-width: 60px; font-weight: bold; }
                &.m-opBalance { flex: 162; min-width: 162px; }
                &.m-turnoverD { flex: 162; min-width: 162px; }
                &.m-turnoverC { flex: 162; min-width: 162px; }
                &.m-closingBalance { flex: 162; min-width: 162px; }
                &.m-availBalance { flex: 162; min-width: 162px; }
                &.m-operations { flex: 80; min-width: 80px; }

                &.s-hidden {
                    display: none;
                }
            }

            &-header {
                position: relative;

                padding: calc(var(--indentingStep) * 1) 0;
                background: var(--colorWhiteTwo);

                & .b-home-container__accounts-table-cell {
                    font-size: var(--fontSizeSmall);
                    font-weight: bold;
                    border-right: 1px solid var(--colorPinkishGrey);
                }
            }

            &-group {
                padding: calc(var(--indentingStep) * 8) 0;

                &-header {
                    padding: 0 calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 4);
                }

                &-title {
                    color: var(--colorCeruleanBlue);
                    font-weight: bold;

                    @mixin uppercase;
                    font-size: var(--fontSizeLarge);
                }

                &-item {
                    position: relative;
                    box-sizing: border-box;
                    border-top: 1px solid var(--colorLightGrey);

                    & a {
                        display: block;
                        color: var(--colorBlack);

                        &:hover {
                            background: var(--colorWhiteTwo);

                            @mixin hoverTransition background;
                        }
                    }
                }

                &-summary {
                    padding-bottom: calc(var(--indentingStep) * 8);
                    border-top: 2px solid var(--colorLightGrey);
                    font-weight: bold;
                }
            }
        }
    }

    &__r-payments {
        position: relative;

        &-list {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            height: 642px;

            &-content {
                position: relative;
                flex-grow: 1;
                overflow-y: auto;
                overflow-x: hidden;
                margin-right: calc(var(--indentingStep) * -4);
                padding-right: calc(var(--indentingStep) * 4);
            }

            &-footer {
                flex-shrink: 0;
                padding: calc(var(--indentingStep) * 4) calc(var(--indentingStep) * 2);
                text-align: right;
            }

            &-item {
                position: relative;
                border-bottom: 1px solid var(--colorLightGrey);

                & a {
                    display: block;
                    box-sizing: border-box;
                    min-height: 58px;
                    padding: calc(var(--indentingStep) * 2);
                    color: var(--colorBlack);

                    &:hover {
                        background: var(--colorWhiteTwo);

                        @mixin hoverTransition background;
                    }
                }

                &-row {
                    display: table;
                    padding-bottom: calc(var(--indentingStep) * 1);

                    &:last-child {
                        padding-bottom: 0;
                    }
                }

                &-cell {
                    display: table-cell;
                    vertical-align: top;

                    &.m-main {
                        width: 100%;
                        position: relative;
                    }

                    &.m-extra {
                        white-space: nowrap;
                        padding-left: calc(var(--indentingStep) * 2);
                    }
                }

                &-description {
                    position: absolute;
                    width: 100%;
                    height: calc(var(--indentingStep) * 5);

                    @mixin textOverflow;
                }

                &-receiver {
                    position: absolute;
                    width: 100%;
                    box-sizing: border-box;
                    height: calc(var(--indentingStep) * 5);
                    padding-top: calc(var(--indentingStep) * 0.5);
                    color: var(--colorGreyishBrown);
                    font-size: var(--fontSizeSmall);

                    @mixin textOverflow;
                }

                &-amount {
                    font-weight: bold;
                }

                &-status {
                    display: inline-block;
                }

                &-operations {
                    position: relative;
                    display: none;
                    top: calc(var(--indentingStep) * -0.5);
                    margin: 0 calc(var(--indentingStep) * -2) 0 calc(var(--indentingStep) * 2);

                    &-item {
                        display: inline-block;
                        margin: calc(var(--indentingStep) * -2) 0;
                    }
                }

                &:hover {
                    & .b-home-container__r-payments-list-item-status {
                        display: none;
                    }

                    & .b-home-container__r-payments-list-item-operations {
                        display: inline-block;
                    }
                }

                @media (hover: none) {
                    & .b-home-container__r-payments-list-item-status {
                        display: inline-block !important;
                    }

                    & .b-home-container__r-payments-list-item-operations {
                        display: inline-block !important;;
                    }
                }
            }
        }
    }

    &__incoming-messages {
        position: relative;

        &-list {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            height: 642px;

            &-content {
                position: relative;
                flex-grow: 1;
                overflow-y: auto;
                overflow-x: hidden;
                margin-right: calc(var(--indentingStep) * -4);
                padding-right: calc(var(--indentingStep) * 4);
            }

            &-footer {
                flex-shrink: 0;
                padding: calc(var(--indentingStep) * 4) calc(var(--indentingStep) * 2);
                text-align: right;
            }

            &-item {
                position: relative;
                border-bottom: 1px solid var(--colorLightGrey);
                padding: calc(var(--indentingStep) * 2);

                & a {
                    min-height: 58px;
                    display: block;
                    box-sizing: border-box;
                    margin: calc(var(--indentingStep) * -2);
                    padding: calc(var(--indentingStep) * 2);
                    color: var(--colorBlack);

                    &:hover {
                        background: var(--colorWhiteTwo);

                        @mixin hoverTransition background;
                    }

                    &:after {
                        @mixin clear-fix;
                    }

                }

                &-row {
                    display: table;
                    padding-bottom: calc(var(--indentingStep) * 1);

                    &:last-child {
                        padding-bottom: 0;
                    }
                }

                &-cell {
                    display: table-cell;
                    vertical-align: top;

                    &.m-main {
                        width: 100%;
                        position: relative;
                    }

                    &.m-extra {
                        white-space: nowrap;
                        padding-left: calc(var(--indentingStep) * 2);
                    }
                }

                &-topic {
                    position: absolute;
                    width: 100%;
                    height: calc(var(--indentingStep) * 5);

                    @mixin textOverflow;

                    &.m-unread {
                        font-weight: bold;
                    }
                }

                &-receiver {
                    color: var(--colorGreyishBrown);
                    font-size: var(--fontSizeSmall);

                    @mixin textOverflow;
                }

                &-attachment {
                    position: relative;
                    display: inline-block;
                    top: calc(var(--indentingStep) * -0.5);
                    margin: calc(var(--indentingStep) * -2) 0;
                }

                &-date {
                    display: inline-block;
                }
            }
        }
    }
}
