@import "styles/vars.css";

.b-title-border-block {
    position: relative;
    border-bottom: 2px solid var(--colorSunflowerYellow);
    margin: 0;
    padding: 0;

    &__header {
        display: flex;
        align-items: center;
        min-height: 30px;

        &.b-title-border-block__with-plate {
            padding-left: 36px;
            padding-right: 36px;

            & .input {
                width: 100%;
            }
        }
    }

    &__title {
        flex-grow: 1;
        font-weight: bold;
        font-size: 22px;
        color: var(--colorBlack);
        line-height: 25px;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        padding-right: 20px;

        & ._title-not-grow {
            flex-grow: 0;
        }
    }

    &__plate {
        position: absolute;
        bottom: 32px;
        left: -32px;
        transform: rotate(-90deg);
        text-transform: uppercase;
        background: var(--colorSunflowerYellow);
        text-align: center;
        font-weight: 400;
        font-size: 12px;
        width: 88px;
        letter-spacing: 0.6px;
        padding: 4px 0;
    }

    &__field {
        font-size: 22px !important;
    }
}
