@import "styles/vars.css";

.b-ui-modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
    overflow-y: auto;

    &__header {
        border-bottom: 1px solid var(--colorMarigold);
        height: 63px;
    }

    &__header-title {
        font-size: 20px;
        color: var(--colorBlack);
        font-weight: bold;
        opacity: 0.87;
        line-height: 1.6;
        padding: 16px 32px;
    }

    &__content {
        padding: 24px 32px;
    }
    
    &__wrapper {
        margin: 0 auto;
        height: 100%;
        width: 100%;
        border-collapse: collapse;
    }
    
    &__td {
        vertical-align: middle;
        height: 100%;
        padding: 15px 24px;
    }
    
    &__window {
        transform: translateZ(0);
        margin: 0 auto;
        padding: 50px;
        position: relative;
        z-index: 2;
        
        &-header {
            padding: 15px 65px 15px 15px;
            min-height: 74px;
            background-color: rgba(224, 244, 222, 0.65);
        }
        
        &-content {
            transform: translateZ(0);
            position: relative;
            border-radius: 4px;
            min-height: 200px;
            background-color: white;
            margin: 0 auto;
        }
    }

    &__window-top {
        position: relative;
        width: 100%;
        max-width: inherit !important;
    }

    &-content-top {
        border-radius: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        max-width: inherit !important;
    }

    & .b-modal-icon-close {
        position: absolute;
        cursor: pointer;
        z-index: 9;
        top: 7px;
        right: 10px;
        & svg {
            fill: var(--colorBlack);
            stroke-width: 1px;
        }
    }

    @media (min-width: 1250px) {
        &__window {
            width: 1200px;
        }
    }
    
    @media (max-width: 1240px) {
        &__window {
            width: 700px;
        }
    }
    
    @media (max-width: 949px) {
        &__window {
            width: 100%;
            padding: 30px;
        }
        
        &-content {
            max-width: 500px;
            overflow: hidden;
        }
        
        &__td {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    
    @media print {
        &-overlay {
            background-color: white;
        }
        
        &__window {
            transform: none;
        }
    }
}
