@import "styles/vars.css";
@import "styles/mixins.css";

.b-spreadsheet__table {
  position: relative;
  display: flex;
  flex-grow: 1;
  background: var(--colorWhite);
  margin-right: 25px;

  &-inner {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-right: -25px;
    overflow: auto;
  }

  &-content {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    min-width: 100%;

    &.m-with-settings,
    &.m-with-operations {
      & .b-spreadsheet__table-row {
        margin-right: calc(var(--indentingStep) * 15);
      }
    }
  }

  &-row {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: calc(var(--indentingStep) * 2) 0;
    box-sizing: border-box;
    min-height: calc(var(--indentingStep) * 9);
  }

  &-cell {
    position: relative;
    box-sizing: border-box;
    padding: 0 calc(var(--indentingStep) * 2);
    white-space: normal;

    &-inner {
      position: relative;
      width: 100%;
      height: calc(var(--indentingStep) * 5);
      line-height: calc(var(--indentingStep) * 5);
    }

    &-value {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      @mixin textOverflow;

      & > div {
        width: 100%;
        @mixin textOverflow;
      }
    }

    &-resize {
      position: absolute;
      height: 100%;
      width: calc(var(--indentingStep) * 4);
      right: calc(var(--indentingStep) * -2);
      top: 0;
      cursor: col-resize;
      z-index: 1;
    }
  }

  &-head {
    position: fixed;
    z-index: 3;
    background: var(--colorWhiteThree);
    padding: calc(var(--indentingStep) * 1) 25px calc(var(--indentingStep) * 1) 0;
    height: calc(var(--indentingStep) * 11);
    font-size: var(--fontSizeSmall);
    font-weight: bold;

    &.s-scrolled {
      box-shadow: 0 calc(var(--indentingStep) * 0.5) calc(var(--indentingStep) * 1) 0 rgba(0, 0, 0, 0.4);
    }

    &-checkbox {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: calc(var(--indentingStep) * 12);
      height: 100%;
      cursor: default;
      padding: calc(var(--indentingStep) * 1.5) calc(var(--indentingStep) * 3.5);

      & + .b-spreadsheet__table-head-inner {
        margin-left: calc(var(--indentingStep) * 12);
      }
    }

    & .b-spreadsheet__table-cell {
      border-right: 1px solid var(--colorPinkishGrey);
    }

    &-sorting {
      position: relative;
      cursor: pointer;

      &-title {
        position: relative;
        margin-right: calc(var(--indentingStep) * 6);

        @mixin textOverflow;
      }

      &-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(var(--indentingStep) * 4);
      }
    }
  }

  &-body {
    position: relative;
  }

  &-group {
    border-top: 1px solid var(--colorGreyish);

    &-header {
      position: relative;
      min-height: calc(var(--indentingStep) * 9);
    }

    &-checkbox {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: calc(var(--indentingStep) * 12);
      height: 100%;
      cursor: default;
      padding: 0 calc(var(--indentingStep) * 3.5);

      & + .b-spreadsheet__table-group-title {
        margin-left: calc(var(--indentingStep) * 12);
      }
    }

    &-title {
      padding: calc(var(--indentingStep) * 2);
      color: var(--colorCeruleanBlue);
      font-weight: bold;
      font-size: var(--fontSizeLarge);
      white-space: normal;
    }
  }

  &-item {
    position: relative;
    box-sizing: border-box;
    border-top: 1px solid var(--colorLightGrey);
    cursor: default;

    &.m-link {
      cursor: pointer;

      &:hover {
        background: var(--colorWhiteTwo);
        @mixin hoverTransition background;
      }
    }

    &.s-selected,
    &.m-link.s-selected {
      background: var(--colorParchment);
    }

    &-checkbox {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: calc(var(--indentingStep) * 12);
      height: 100%;
      cursor: default;
      padding: 0 calc(var(--indentingStep) * 3.5);

      &:hover {
        background: linear-gradient(to right, var(--colorParchment) 50%, rgba(255, 242, 174, 0) 100%);
        @mixin hoverTransition background;
      }

      & + .b-spreadsheet__table-item-content {
        margin-left: calc(var(--indentingStep) * 12);
      }
    }

    &-content {
      height: calc(var(--indentingStep) * 9);
    }

    &-operations {
      position: absolute;
      top: 0;

      &-toggle {
        position: absolute;
        box-sizing: border-box;
        opacity: 0;
        top: 0;
        right: -8px;
        height: calc(var(--indentingStep) * 9);
        padding: calc(var(--indentingStep) * 0.5) calc(var(--indentingStep) * 2) calc(var(--indentingStep) * 0.5) calc(var(--indentingStep) * 4);

        &-icon {
          width: calc(var(--indentingStep) * 8);
          height: calc(var(--indentingStep) * 8);
          background: var(--colorWhiteThree);
          border-radius: 50%;
        }
      }

      &-popup {
        box-sizing: border-box;
        min-width: calc(var(--indentingStep) * 52);
      }

      &-item {
        position: relative;
        box-sizing: border-box;
        padding: calc(var(--indentingStep) * 2);
        white-space: nowrap;
        cursor: pointer;

        &:hover {
          background: var(--colorWhiteThree);
          @mixin hoverTransition background;
        }

        &-icon {
          display: inline-block;
          vertical-align: middle;
          padding: 0 calc(var(--indentingStep) * 1);
        }

        &-title {
          display: inline-block;
          vertical-align: middle;
          padding: 0 calc(var(--indentingStep) * 1);
        }
      }
    }

    &:hover {
      & .b-spreadsheet__table-item-operations-toggle {
        opacity: 1;
        @mixin hoverTransition opacity;
      }
    }

    &.m-link:hover {
      & .b-spreadsheet__table-item-operations-toggle {
        background: linear-gradient(to right, rgba(236, 236, 236, 0) 0, var(--colorWhiteTwo) 25%, var(--colorWhiteTwo) 95%, rgba(236, 236, 236, 0) 100%);
      }
    }

    &.s-selected:hover {
      & .b-spreadsheet__table-item-operations-toggle {
        background: linear-gradient(to right, rgba(255, 242, 174, 0) 0, var(--colorParchment) 25%, var(--colorParchment) 95%, rgba(255, 242, 174, 0) 100%);
      }
    }
  }

  &-settings {
    position: absolute;
    top: 0;
    right: -25px;
    z-index: 4;

    &-toggle {
      position: absolute;
      box-sizing: border-box;
      top: 0;
      right: 0;
      padding: calc(var(--indentingStep) * 1.5) calc(var(--indentingStep) * 6);
      background: linear-gradient(to right, rgba(245, 245, 245, 0) 0, var(--colorWhiteThree) 20%);

      &-icon {
        width: calc(var(--indentingStep) * 8);
        height: calc(var(--indentingStep) * 8);
      }
    }

    &-popup {
      box-sizing: border-box;
      width: calc(var(--indentingStep) * 60);
      padding:  calc(var(--indentingStep) * 2);
    }

    &-block {
      padding:  calc(var(--indentingStep) * 2);

      &:first-child {
        padding-top:  calc(var(--indentingStep) * 4);
      }

      &:last-child {
        padding-bottom:  calc(var(--indentingStep) * 4);
      }

      &-header {
        margin-bottom:  calc(var(--indentingStep) * 2);

        &:after {
          @mixin clear-fix;
        }
      }

      &-check-all {
        float: right;
      }
    }

    &-columns {
      position: relative;
      margin-bottom: calc(var(--indentingStep) * -1);
      max-height: calc(var(--indentingStep) * 90);
      overflow-y: auto;

      &-item {
        margin: calc(var(--indentingStep) * 1) 0;
      }
    }

    &-pagination {
      &-dropdown-box {
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        width: calc(var(--indentingStep) * 16);
      }

      &-label {
        display: inline-block;
        vertical-align: middle;
        margin-left: calc(var(--indentingStep) * 2);
      }
    }
  }

  &-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: calc(var(--indentingStep) * 100);
    font-size: var(--fontSizeLarge);
    color: var(--colorWarmGrey);
  }
}
