@import "styles/vars.css";

.p-template-modal {
    width: 608px;

    &__buttons {
        display: flex;
        padding-top: 40px;
        justify-content: space-between;
    }

    &__field {
        position: relative;
    }

    &__error {
        position: absolute;
        bottom: -22px;
        color: var(--colorTomatoRed);
    }
}
