@import "styles/vars.css";
.confirm-wrapper {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 999;
}

.confirm-item {
    position: relative;
    background: #FF936F;
    padding: 20px;
    margin-top: 10px;
    transition: opacity 300ms;
    opacity: 0;
    width: 380px;
    border-radius: 3px;

    &__title {
        font-size: 16px;
        font-weight: bold;
    }

    &__text {
        font-size: 14px;
        font-weight: normal;
        margin-top: 12px;
        margin-bottom: 25px;
    }

    &__button_success, &__button_cancel {
        display: inline-block;
        padding: 7px 14px;
        margin-right: 5px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 2px;
    }

    &__button_success {
        background: linear-gradient(180deg, #737373 0%, #3C3C3C 100%);
        color: #FFFFFF;

        &:hover {
            background: linear-gradient(180deg, #000000 0%, #3C3C3C 100%);
        }
    }

    &__button_cancel {
        background: #FFFFFF;
        color: #0055A2;

        &:hover {
            color: #000000;
        }
    }

    &-show-animate {
        opacity: 1;
    }

    &-hide-animate {
        opacity: 0;
    }
}
