@import "styles/vars.css";
@import "styles/mixins.css";

.b-tabs {
    position: relative;
    width: 100%;

    &.m-align-left { text-align: left; }

    &.m-align-right { text-align: right; }

    &.m-align-center { text-align: center; }

    &__items {
        position: relative;
    }

    &__item {
        box-sizing: border-box;
        white-space: nowrap;
        padding: 0 calc(var(--indentingStep) * 2);
        cursor: pointer;
        font-weight: bold;
        @mixin uppercase;

        &.s-active {
            cursor: default;
        }

        &-inner {
            padding: calc(var(--indentingStep) * 2) 0 calc(var(--indentingStep) * 1);
            border-bottom: calc(var(--indentingStep) * 1) solid transparent;
        }
    }

    &__hidden {
        position: absolute;
        height: 0;
        overflow: hidden;

        & .b-tabs__items {
            margin: 0 calc(var(--indentingStep) * -2);
            white-space: nowrap;
        }

        & .b-tabs__item {
            display: inline-block;
        }
    }

    &__main {
        display: inline-block;
        vertical-align: middle;

        & .b-tabs__items {
            margin: 0 calc(var(--indentingStep) * -2);

            &:after {
                @mixin clear-fix;
            }
        }

        & .b-tabs__item {
            display: block;
            float: left;

            &:hover {
                & .b-tabs__item-inner {
                    border-bottom-color: var(--colorWhiteThree);
                    @mixin hoverTransition border;
                }
            }

            &.s-active {
                & .b-tabs__item-inner {
                    border-bottom-color: var(--colorSunflowerYellow);
                }
            }
        }
    }

    &__extra {
        display: inline-block;
        vertical-align: middle;

        &-toggle {
            box-sizing: border-box;
            text-align: center;
            width: calc(var(--indentingStep) * 8);
            height: calc(var(--indentingStep) * 8);
            padding: calc(var(--indentingStep) * 2);
            cursor: pointer;

            &:hover {
                & svg {
                    fill: var(--colorBlack);
                }
            }
        }

        &-popup {
            & .b-tabs__item {
                &:hover {
                    background: var(--colorWhiteThree);
                    @mixin hoverTransition background;
                }
            }
        }

    }
}
