@import "styles/vars.css";

.b-notify-messages-collection {
    &__title {
        font-size: 16px;
        font-weight: bold;
    }

    &__body {
        font-size: 14px;
        font-weight: normal;
        margin-top: 12px;
    }

    &__item {
        position: relative;
        padding-left: 12px;
        margin-bottom: 7px;
    }

    &__index {
        position: absolute;
        top: 0;
        left: 0;
    }

    &-success {
        background-color: var(--suceessNotification);
    }

    &-error {
        background-color: var(--errorNotification);
    }

    &-info {
        background-color: var(--infoNotification);
    }
}
