@import "styles/vars.css";

.b-spreadsheet__operations {
    position: relative;
    padding: 0 calc(var(--indentingStep) * 4);
    height: calc(var(--indentingStep) * 22);

    &-empty {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        max-width: calc(var(--indentingStep) * 80);
        font-size: var(--fontSizeLarge);
        color: var(--colorWarmGrey);
    }
}
