.import-from-1c-modal {
    & .modal-header {
        border-bottom: 1px solid #FFDA00;
    }

    & h2.header {
        margin-bottom: 0;
    }

    & .correctionrules {
        margin-left: 24px;
    }

    & .form {
        height: 320px;
    }

    & .dropzone {
        width: 100%;
        height: 320px;
        cursor: pointer;
    }

    & .crossModal {
        position: absolute;
        top: 0;
        right: 0;
        padding: 14px 16px;
        cursor: pointer;
    }

    & .import-loader {
        height: 320px;
        position: relative;
    }

    & .grid {
        margin: -1rem;
        padding: 0;
    }

    & .import-results {
        position: relative;

        & .details {
            height: 100%;

            & > div {
                margin-bottom: 8px;
                display: flex;
            }

            & .key {
                width: 50%;
                font-family: ProximaNova-Semibold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            }

            & > .indented > .key {
                padding-left: 20px;
            }

            & .value {
                width: 50%;
            }

            & .file-name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        & .actions {
            background-color: #ECECEC;
            padding: 1rem;
            width: 100%;
            height: 64px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    & .error:after{
        display: none;
    }

    & .nav-menu {
        margin-right: 40px;
    }
}
