@import "styles/vars.css";
@import "styles/mixins.css";

.b-payments-item-status {
  &__recall {
    display: inline-block;
    margin-right: calc(var(--indentingStep) * 1);

    &-toggle {
      color: var(--colorTomatoRed);
      border: 1px solid var(--colorTomatoRed);
      padding: calc(var(--indentingStep) * 0.5) calc(var(--indentingStep) * 1);
      border-radius: calc(var(--indentingStep) * 0.5);
      font-size: var(--fontSizeSmall);
      cursor: pointer;

      &.m-final {
        color: var(--colorWarmGrey);
        border-color: var(--colorWarmGrey);
      }
    }

    &-popup {
      box-sizing: border-box;
      width: calc(var(--indentingStep) * 100);
    }

    &-item {
      position: relative;
      padding: calc(var(--indentingStep) * 4) calc(var(--indentingStep) * 6);
      border-bottom: 1px solid var(--colorLightGrey);

      &:last-child {
        border-bottom: 0;
      }

      &-row {
        margin: calc(var(--indentingStep) * 1) 0;

        &:after {
          @mixin clear-fix;
        }

        &-label {
          float: left;
          font-weight: bold;
          width: 22%;
          vertical-align: middle;
        }

        &-value {
          float: left;
          width: 78%;
          vertical-align: middle;
        }
      }

      &-reason {
        @mixin textOverflow;
      }

      &-operations {
        position: absolute;
        top: calc(var(--indentingStep) * 3.5);
        right: calc(var(--indentingStep) * 4);
      }

      &-operation {
        display: inline-block;
      }
    }
  }
}
