@import "styles/vars.css";
@import "styles/mixins.css";

html,
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

html {
    font-feature-settings: "tnum" 1;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    background: var(--colorLightGrey);
    font-family: var(--fontFamily);
    font-size: var(--fontSizeNormal);
    line-height: var(--lineHeightNormal);
    min-width: 960px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Removes IE 11 icons in input, password */
::-ms-clear {
    display: none;
}

::-ms-reveal {
    display: none;
}

/* Removes Safari auto fill button from inputs */
::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--fontSizeH1);
    font-weight: bold;
}

h2 {
    font-size: var(--fontSizeH2);
    font-weight: bold;
}

h3 {
    font-size: var(--fontSizeH3);
    font-weight: bold;
}

h4 {
    font-size: var(--fontSizeH4);
    font-weight: normal;
}

h5 {
    font-size: var(--fontSizeH5);
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--colorPeacockBlue);
    cursor: pointer;

    &:hover {
        color: var(--colorCeruleanBlue);

        @mixin hoverTransition color;
    }
}

.m-like-link {
    display: inline;
    color: var(--colorPeacockBlue);
    cursor: pointer;

    &:hover {
        color: var(--colorCeruleanBlue);

        @mixin hoverTransition color;
    }

    &.s-disabled {
        cursor: default;
        color: var(--colorWarmGrey);
        background: none;
    }
}

.m-dashed-link {
    display: inline;
    color: var(--colorPeacockBlue);
    cursor: pointer;
    background: linear-gradient(to left, var(--colorPeacockBlue), var(--colorPeacockBlue) 70%, transparent 70%) repeat-x 0 100%;
    background-size: 4px 1px;

    &:hover {
        color: var(--colorCeruleanBlue);
        background-image: linear-gradient(to left, var(--colorCeruleanBlue), var(--colorCeruleanBlue) 70%, transparent 70%);

        @mixin hoverTransition all;
    }

    &.s-disabled {
        cursor: default;
        color: var(--colorWarmGrey);
        background: none;
    }
}

h1 .m-dashed-link,
h2 .m-dashed-link,
h3 .m-dashed-link,
h4 .m-dashed-link,
h5 .m-dashed-link {
    color: var(--colorBlack);
    background-image: linear-gradient(to left, var(--colorBlack), var(--colorBlack) 70%, transparent 70%);
}


.m-status-success {
    color: var(--colorTrueGreen);
}


.m-status-error {
    color: var(--colorTomatoRed);
}
