.font-mini {
  font-size: 12px
}

.font-tiny {
  font-size: 13px
}

.font-small {
  font-size: 14px
}

.font-medium {
  font-size: 16px
}

.font-large {
  font-size: 18px
}

.font-big {
  font-size: 20px
}

.font-huge {
  font-size: 22px
}

.font-massive {
  font-size: 24px
}

.white {
  color: #fff
}

.bg-white {
  background-color: #fff
}

.white-three {
  color: #f5f5f5
}

.black {
  color: #000
}

.greyish-brown {
  color: #3c3c3c
}

.greyish-brown-two {
  color: #4a4a4a
}

.warm-grey {
  color: #737373
}

.warm-grey-three {
  color: #888
}

.warm-grey-two {
  color: #a0a0a0
}

.greyish {
  color: #b9b9b9
}

.pinkish-grey {
  color: #ccc
}

.light-grey {
  color: #dfdfdf
}

.white-two {
  color: #ececec
}

.peacock-blue {
  color: #0055a2
}

.cerulean-blue {
  color: #007ae8
}

.bluish {
  color: #2687c5
}

.dark-sky-blue {
  color: #3f9bd6
}

.perrywinkle {
  color: #72b3dd
}

.ice-blue {
  color: #ecf9ff
}

.tomato-red {
  color: #d91e00
}

.pale-red {
  color: #d9534f
}

.salmon {
  color: #ff936f
}

.true-green {
  color: #018e01
}

.light-sage {
  color: #b8e986
}

.parchment {
  color: #fff2ae
}

.sunflower-yellow {
  color: #ffda00
}

.marigold {
  color: #fcc900
}

.tangerine {
  color: #f89500
}

.dark-lilac {
  color: #9b5ba5
}

.lighter-purple {
  color: #9f5ff5
}

.align-center {
  text-align: center
}

.align-left {
  text-align: left
}

.align-right {
  text-align: right
}

.align-justify {
  text-align: justify
}

.align-baseline {
  vertical-align: baseline
}

.align-top {
  vertical-align: top
}

.align-middle {
  vertical-align: middle
}

.align-bottom {
  vertical-align: bottom
}

.text-decoration-none {
  text-decoration: none
}

.caps {
  text-transform: uppercase
}

.nowrap {
  white-space: nowrap
}

.break-word {
  word-wrap: break-word
}

.break-all {
  word-break: break-all
}

.list-style-none {
  list-style: none
}

.underline {
  text-decoration: underline
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.list-reset {
  list-style: none;
  padding-left: 0
}

.border {
  border-style: solid;
  border-width: 1px
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px
}

.border-none {
  border: 0
}

.rounded {
  border-radius: 3px
}

.circle {
  border-radius: 50%
}

.rounded-top {
  border-radius: 3px 3px 0 0
}

.rounded-right {
  border-radius: 0 3px 3px 0
}

.rounded-bottom {
  border-radius: 0 0 3px 3px
}

.rounded-left {
  border-radius: 3px 0 0 3px
}

.not-rounded {
  border-radius: 0
}

.flex {
  display: flex
}

.flex-column {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.items-baseline {
  align-items: baseline
}

.items-stretch {
  align-items: stretch
}

.self-start {
  align-self: flex-start
}

.self-end {
  align-self: flex-end
}

.self-center {
  -ms-grid-row-align: center;
  align-self: center
}

.self-baseline {
  align-self: baseline
}

.self-stretch {
  -ms-grid-row-align: stretch;
  align-self: stretch
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.content-start {
  align-content: flex-start
}

.content-end {
  align-content: flex-end
}

.content-center {
  align-content: center
}

.content-between {
  align-content: space-between
}

.content-around {
  align-content: space-around
}

.content-stretch {
  align-content: stretch
}

.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0
}

.flex-none {
  flex: none
}

.flexNoShrink {
  flex-shrink: 0
}

.order-0 {
  order: 0
}

.order-1 {
  order: 1
}

.order-2 {
  order: 2
}

.order-3 {
  order: 3
}

.order-last {
  order: 99999
}

.inline {
  display: inline
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.table {
  display: table
}

.table-cell {
  display: table-cell
}

.overflow-hidden {
  overflow: hidden
}

.overflow-scroll {
  overflow: scroll
}

.overflow-auto {
  overflow: auto
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

.left {
  float: left
}

.right {
  float: right
}

.fit {
  max-width: 100%
}

.m0 {
  margin: 0
}

.mt0 {
  margin-top: 0
}

.mr0 {
  margin-right: 0
}

.mb0 {
  margin-bottom: 0
}

.ml0, .mx0 {
  margin-left: 0
}

.mx0 {
  margin-right: 0
}

.my0 {
  margin-top: 0;
  margin-bottom: 0
}

.m1 {
  margin: 5px
}

.mt1 {
  margin-top: 5px
}

.mr1 {
  margin-right: 5px
}

.mb1 {
  margin-bottom: 5px
}

.ml1, .mx1 {
  margin-left: 5px
}

.mx1 {
  margin-right: 5px
}

.my1 {
  margin-top: 5px;
  margin-bottom: 5px
}

.m2 {
  margin: 10px
}

.mt2 {
  margin-top: 10px
}

.mr2 {
  margin-right: 10px
}

.mb2 {
  margin-bottom: 10px
}

.ml2, .mx2 {
  margin-left: 10px
}

.mx2 {
  margin-right: 10px
}

.my2 {
  margin-top: 10px;
  margin-bottom: 10px
}

.m3 {
  margin: 20px
}

.mt3 {
  margin-top: 20px
}

.mr3 {
  margin-right: 20px
}

.mb3 {
  margin-bottom: 20px
}

.ml3, .mx3 {
  margin-left: 20px
}

.mx3 {
  margin-right: 20px
}

.my3 {
  margin-top: 20px;
  margin-bottom: 20px
}

.m4 {
  margin: 40px
}

.mt4 {
  margin-top: 40px
}

.mr4 {
  margin-right: 40px
}

.mb4 {
  margin-bottom: 40px
}

.ml4, .mx4 {
  margin-left: 40px
}

.mx4 {
  margin-right: 40px
}

.my4 {
  margin-top: 40px;
  margin-bottom: 40px
}

.mxn1 {
  margin-left: -5px;
  margin-right: -5px
}

.mxn2 {
  margin-left: -10px;
  margin-right: -10px
}

.mxn3 {
  margin-left: -20px;
  margin-right: -20px
}

.mxn4 {
  margin-left: -40px;
  margin-right: -40px
}

.ml-auto {
  margin-left: auto
}

.mr-auto, .mx-auto {
  margin-right: auto
}

.mx-auto {
  margin-left: auto
}

.p0 {
  padding: 0
}

.pt0 {
  padding-top: 0
}

.pr0 {
  padding-right: 0
}

.pb0 {
  padding-bottom: 0
}

.pl0, .px0 {
  padding-left: 0
}

.px0 {
  padding-right: 0
}

.py0 {
  padding-top: 0;
  padding-bottom: 0
}

.p1 {
  padding: 5px
}

.pt1 {
  padding-top: 5px
}

.pr1 {
  padding-right: 5px
}

.pb1 {
  padding-bottom: 5px
}

.pl1 {
  padding-left: 5px
}

.py1 {
  padding-top: 5px;
  padding-bottom: 5px
}

.px1 {
  padding-left: 5px;
  padding-right: 5px
}

.p2 {
  padding: 10px
}

.pt2 {
  padding-top: 10px
}

.pr2 {
  padding-right: 10px
}

.pb2 {
  padding-bottom: 10px
}

.pl2 {
  padding-left: 10px
}

.py2 {
  padding-top: 10px;
  padding-bottom: 10px
}

.px2 {
  padding-left: 10px;
  padding-right: 10px
}

.p3 {
  padding: 20px
}

.pt3 {
  padding-top: 20px
}

.pr3 {
  padding-right: 20px
}

.pb3 {
  padding-bottom: 20px
}

.pl3 {
  padding-left: 20px
}

.py3 {
  padding-top: 20px;
  padding-bottom: 20px
}

.px3 {
  padding-left: 20px;
  padding-right: 20px
}

.p4 {
  padding: 40px
}

.pt4 {
  padding-top: 40px
}

.pr4 {
  padding-right: 40px
}

.pb4 {
  padding-bottom: 40px
}

.pl4 {
  padding-left: 40px
}

.py4 {
  padding-top: 40px;
  padding-bottom: 40px
}

.px4 {
  padding-left: 40px;
  padding-right: 40px
}

.relative {
  position: relative
}

.absolute {
  position: absolute
}

.absolute-centered {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%)
}

.absolute-centered-v {
  top: 50%;
  transform: translateY(-50%)
}

.absolute-centered-h {
  left: 50%;
  transform: translateX(-50%)
}

.fixed {
  position: fixed
}

.top-0 {
  top: 0
}

.right-0 {
  right: 0
}

.bottom-0 {
  bottom: 0
}

.left-0 {
  left: 0
}

.upward {
  top: auto;
  bottom: 100%
}

.downward {
  top: 100%
}

.z1 {
  z-index: 1
}

.z2 {
  z-index: 2
}

.z3 {
  z-index: 3
}

.z4 {
  z-index: 4
}

.z-max {
  z-index: 1000
}

.w100 {
  width: 100%
}

.shadow-1 {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4)
}

.shadow-2 {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .5)
}

.shadow-3 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1)
}

.shadow-4 {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .3)
}

.loader {
  top: 50%;
  margin: 0;
  text-align: center;
  z-index: 1000;
  transform: translateX(-50%) translateY(-50%);
  font-size: 16px
}

.loader, .loader:before {
  position: absolute;
  left: 50%;
  width: 32px;
  height: 32px
}

.loader:before {
  content: "";
  top: 0;
  margin: 0 0 0 -16px;
  border-radius: 500rem;
  border: 4px solid #000;
  border-left-color: #fcc900;
  animation: loader .6s linear;
  animation-iteration-count: infinite
}

@keyframes loader {
  0% {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(1turn)
  }
}

.mini.loader {
  width: 12px;
  height: 12px;
  font-size: 12px
}

.mini.loader:before {
  width: 12px;
  height: 12px;
  margin: 12px 0 0;
  border-width: 1.5px
}

.tiny.loader {
  width: 16px;
  height: 16px;
  font-size: 13px
}

.tiny.loader:before {
  width: 16px;
  height: 16px;
  margin: 0 0 0 -8px;
  border-width: 2px
}

.small.loader {
  width: 24px;
  height: 24px;
  font-size: 14px
}

.small.loader:before {
  width: 24px;
  height: 24px;
  margin: 0 0 0 -12px;
  border-width: 3px
}

.large.loader {
  width: 40px;
  height: 40px;
  font-size: 18px
}

.large.loader:before {
  width: 40px;
  height: 40px;
  margin: 0 0 0 -20px;
  border-width: 5px
}

.big.loader {
  width: 48px;
  height: 48px;
  font-size: 20px
}

.big.loader:before {
  width: 48px;
  height: 48px;
  margin: 0 0 0 -24px;
  border-width: 6px
}

.huge.loader {
  width: 56px;
  height: 56px;
  font-size: 22px
}

.huge.loader:before {
  width: 56px;
  height: 56px;
  margin: 0 0 0 -28px;
  border-width: 7px
}

.massive.loader {
  width: 64px;
  height: 64px;
  font-size: 24px
}

.massive.loader:before {
  width: 64px;
  height: 64px;
  margin: 0 0 0 -32px;
  border-width: 8px
}

.text.loader {
  width: auto !important;
  height: auto !important;
  text-align: center;
  font-style: normal;
  min-width: 32px;
  padding-top: 44px
}

.text.loader.mini {
  min-width: 12px;
  padding-top: 24px
}

.text.loader.tiny {
  min-width: 16px;
  padding-top: 28px
}

.text.loader.small {
  min-width: 24px;
  padding-top: 36px
}

.text.loader.large {
  min-width: 40px;
  padding-top: 52px
}

.text.loader.big {
  min-width: 48px;
  padding-top: 60px
}

.text.loader.huge {
  min-width: 56px;
  padding-top: 68px
}

.text.loader.massive {
  min-width: 64px;
  padding-top: 76px
}

.inline.loader {
  position: relative;
  vertical-align: middle;
  margin: 0;
  left: 0;
  top: 0;
  transform: none;
  display: inline-block
}

.inline.loader.centered {
  display: block;
  margin-left: auto;
  margin-right: auto
}
