@import "./vars.css";

/* stylelint-disable */
@define-mixin size $width: 100px, $height: 100px {
    width: $width;
    height: $height;
}

@define-mixin icn_mixin {
    line-height: 1;
    display: inline-block;
    
    &:before {
        content: "";
        font-style: normal;
        font-family: "Icomoon";
        position: relative;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@define-mixin clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
        height: 0;
    }
}

@define-mixin placeholder $color: var(--colorBlack) {
    &::-webkit-input-placeholder {
        color: $color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color: $color;
        opacity: 1;
    }
    &:-moz-placeholder {
        color: $color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $color;
        opacity: 1;
    }
}

@define-mixin list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
    li:before {
        display: none;
    }
}

@define-mixin textOverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@define-mixin resetTextOverflow {
    white-space: normal;
}

@define-mixin uppercase {
    font-size: var(--fontSizeSmall);
    text-transform: uppercase;
    letter-spacing: var(--uppercaseLetterSpacing);
}

@define-mixin hoverTransition $property: all {
    transition: $property var(--hoverTransitionDuration) ease-out;
}

@define-mixin clear-fix {
    content: "";
    display: block;
    clear: both;
    height: 0;
}


