:root {
    --xlsize: 1263px;
    --size1250: 1250px;
    --size1024: 1024px;
    --lgsize: 945px;
    --mdsize: 768px;
    --small: 700px;
    --xssize: 660px;

    --fontFamily: Helvetica, Arial, sans-serif;

    --colorWhite:            #FFFFFF;
    --colorWhiteThree:       #F5F5F5;

    --colorBlack:            #000000;

    --colorGreyishBrown:     #3C3C3C;
    --colorGreyishBrownTwo:  #4A4A4A;
    --colorWarmGrey:         #737373;
    --colorWarmGreyThree:    #888888;
    --colorWarmGreyTwo:      #A0A0A0;
    --colorGreyish:          #B9B9B9;
    --colorPinkishGrey:      #CCCCCC;
    --colorLightGrey:        #DFDFDF;
    --colorWhiteTwo:         #ECECEC;

    --colorPeacockBlueDark:  #004E95;
    --colorPeacockBlue:      #0055A2;
    --colorCeruleanBlue:     #007AE8;
    --colorBluish:           #2687C5;
    --colorDarkSkyBlue:      #3F9BD6;
    --colorPerrywinkle:      #72B3DD;
    --colorIceBlue:          #ECF9FF;

    --colorTomatoRed:        #D91E00;
    --colorPaleRed:          #D9534F;
    --colorSalmon:           #FF936F;

    --colorTrueGreen:        #018E01;
    --colorLightSage:        #B8E986;

    --colorParchmentLight:   #FFFAD3;
    --colorParchment:        #FFF2AE;
    --colorSunflowerYellow:  #FFDA00;
    --colorMarigold:         #FCC900;
    --colorTangerine:        #F89500;
    --colorTangerineDark:    #E58900;

    --colorDarkLilac:        #9B5BA5;
    --colorLighterPurple:    #9F5FF5;

    --fontSizeExtraSmall: 10px;
    --fontSizeSmall: 12px;
    --fontSizeNormal: 14px;
    --fontSizeLarge: 16px;
    --fontSizeExtraLarge: 18px;

    --fontSizeH1: 26px;
    --fontSizeH2: 22px;
    --fontSizeH3: var(--fontSizeExtraLarge);
    --fontSizeH4: var(--fontSizeLarge);
    --fontSizeH5: var(--fontSizeNormal);

    --lineHeightNormal: 1.36;

    --indentingStep: 4px;

    --uppercaseLetterSpacing: 0.024em;

    --hoverTransitionDuration: 0.24s;

    --boxShadow: 0 2px 8px 0 rgba(0, 0, 0, .32);

    --suceessNotification: #B8E986;
    --errorNotification: #FF936F;
    --infoNotification: #FCC900;
}

