@import "styles/vars.css";

.b-spreadsheet__toolbar {
    position: relative;
    padding: calc(var(--indentingStep) * 4);
    border-bottom: 2px solid var(--colorSunflowerYellow);

    &-inner {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    &-title {
        white-space: nowrap;
    }

    &-content {
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    &-buttons {
        white-space: nowrap;

        &-items {
            white-space: nowrap;
            margin: 0 calc(var(--indentingStep) * -1);
            padding: 0 calc(var(--indentingStep) * 2);
        }

        &-item {
            display: inline-block;
            vertical-align: middle;
            margin: 0 calc(var(--indentingStep) * 1);
        }
    }

    &-tabs {
        flex-grow: 1;
        position: relative;
        bottom: calc(var(--indentingStep) * -4);
    }
}
