@import "styles/vars.css";

.b-application__header {
    padding-left: calc(var(--indentingStep) * 18);
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(var(--indentingStep) * 10);
    background: var(--colorWhite);
    box-shadow: 0 calc(var(--indentingStep) * 0.25) calc(var(--indentingStep) * 2) 0 rgba(0, 0, 0, 0.4);
    vertical-align: middle;
    z-index: 3;
    display: flex;

    &__not-allow-close {
        cursor: not-allowed !important;
    }

    &__menu {
        padding: 0 30px;
        width: 100%;
        height: 40px;
        position: relative;
        box-sizing: border-box;

        &-hr {
            position: absolute;
            bottom: 0;
            left: 30px;
            right: 75px;
            border-bottom: 1px;
            line-height: 0;
            font-size: 0;
        }
    }

    &__user-name {
        position: relative;
        font-size: 14px;
        color: var(--colorBlack);
        letter-spacing: 0.17px;
        line-height: 22px;
        flex-shrink: 0;
        user-select: none;
        margin-right: 20px;
    }

    &__logout {
        font-size: 14px;
        line-height: 22px;
        color: var(--colorPeacockBlue);
        letter-spacing: 0.19px;
    }

    &__logout-icon {
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }

    &__menu-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 40px;
    }

    &__settings {
        position: absolute;
        top: 31px;
        right: -3px;
        cursor: pointer;
        font-size: 14px;
        width: 200px;
        border-top: 1px solid rgba(0, 0, 0, .4);
        background: #FFFFFF;
        box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .4);
        z-index: 2;

        & .setting {
            color: var(--colorBlack);
            &:hover {
                color: var(--colorBlack);
            }
        }
    }

    &__setting {
        display: block;
        padding: 10px;
        color: var(--colorBlack);
    }

    &__icon-settings {
        position: relative;
        margin-left: 4px;
        margin-top: 3px;
    }


    &__checkbox {
        position: absolute;
        top: 3px;
        left: 0;
    }

    &__correspondents-link,
    &__old-version-link {
        margin-left: 16px;
    }

    .action-not-allowed {
        cursor: not-allowed !important;
    }

    .b-menu {
        .m-dashed-link {
            flex-shrink: 0;
        }

        choose {
            font-size: 14px;
            color: var(--colorBlack);
            letter-spacing: 0.15px;
            line-height: 17px;
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0 10px;
        }

        p {
            margin: 0 0 15px;
        }

        a {
            text-decoration: none;
            font-size: 14px;
            color: var(--colorPeacockBlue);
            letter-spacing: 0.19px;
            line-height: 17px;
            flex-shrink: 0;
        }
    }

    .dashed-link {
        letter-spacing: 0.18px;
        line-height: 23px;
    }
}


.b-organisation {
    &__header {
        & h1, & span {
            display: inline-block;
            margin-right: 25px;
        }
    }

    &__body {
        position: relative;

    }

    &__close {
        position: absolute;
        right: calc(var(--indentingStep) * 4);
        top: calc(var(--indentingStep) * -8);
    }

    &__item {
        position: relative;
        &-label {
            display: inline-block;
            cursor: pointer;
        }
    }

    &__item-selected {
        position: relative;
    }

    &__description {
        margin-top: 0;
        font-size: var(--fontSizeNormal);
        color: var(--colorBlack);
    }

    &-selection {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        padding: 0 105px 75px;
        background-color: #FFFFFF;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
        z-index: 2;
    }

    &-selection .scroll-option-wrapper {
        max-height: 400px;
        overflow-y: auto;
        padding: 0 0 1px;
    }
}

